[2014-09-21 21:22] sanicki opened #2 "Installing Kernel Headers from PPA"
I followed the instructions [here](https://github.com/divx118/crouton-packages/blob/master/README.md) to install kernel headers from PPA on my Chromebook Pixel. However after logging back in when I launch Virtualbox 4.3 and attempt to start either an x86 or x64 VM I receive the error "Kernel driver not installed." I have confirmed the rc.local was written correctly. Unsure how to proceed.

[2014-09-22 11:07] #2 closed, assigned to nobody

[2014-11-08 16:33] divx118 opened #3 "rc.local script can load the wrong modules if there are other kernel modules installed."
If people start messing around with installing other kernel headers from the ubuntu ppa rc.local can load the wrong modules. Maybe it is better to switch to insmod and use uname -r to be sure we will use the right modules instead of modprobe.

[2014-12-19 08:00] upronner opened #4 "acer cb3-111 virtualbox throws errors upon starting vm"
The VirtualBox Linux kernel driver (vboxdrv) is either not loaded or there is a permission problem with /dev/vboxdrv. Please reinstall the kernel module by executing

'/etc/init.d/vboxdrv setup'

as root. If it is available in your distribution, you should install the DKMS package first. This package keeps track of Linux kernel changes and recompiles the vboxdrv kernel module if necessary.
_______

[2015-01-05 17:49] DennisLfromGA opened #5 "ChromeOS vm"
Granted I know next to nothing about running vm's on a Chromebook but 'crouton-packages' seems like a pretty slick way to accomplish it via a chroot.

I'm thinking about trying this out on my HP Chromebook 14 but I think I need a little guidance/explanation before I dive in. I've seen wiki pages on the crouton site that discuss this but I'm still a little confused after reading them.

Question: Do

[2015-01-05 19:09] divx118 commented on #5
You just can use this [repo](https://github.com/divx118/crouton-packages/blob/master/README.md), so you don't need to build the kernel headers yourself. So skipping 1 and 2  in your list. BTW guide 2 is about building modules for the chromeos kernel still need to migrate the 2 pages into one, but that can wait until we are sure what will happen with 4 (b).
3 (a) Is not really needed, It just impro

[2015-01-05 19:19] DennisLfromGA commented on #5
***Thanx a lot for the answers and explanations.***
I've just got a 16GB SSD in this thing right now but I'm going to get a 128GB SSD soon'ish - the SSD replacement on this thing looks like a booger :)

[2015-01-26 09:05] #5 closed

[2015-02-11 17:08] rrolsbe opened #6 "C710 using 847 Crouton/Virtualbox works but on with 1007u does not."
Just created a long post regarding this issue and the Firefox browser crashed.  So I will start this thread short and sweet on this attempt.  Both 32bit and 64bit Virtualbox guest OS VM's stop responding when using the C710 with the 1007u processor.  Both C710 are using the save version of Crouton/Virtualbox.  Anyone have a similar problem?

Any advice would be greatly Appreciated!!
Regards, Ron

[2015-02-11 18:06] divx118 commented on #6
It can be that you are no longer able to disable module_locking through the sysfs path. See https://github.com/dnschneid/crouton/issues/1278 A workaround is to remove the sysfs lines in rc.local and follow https://github.com/dnschneid/crouton/wiki/Repack-kernel-to-Enable-VT_x-for-Virtualbox This will disable verified kernel boot, so you will be a bit less secure.
Before you do anything first do a

[2015-02-11 21:35] rrolsbe commented on #6
divx118

Thanks for the reply!  The directory does exist.  All of the vbox modules are loading and are the same as lsmod on working machine.  Guests do launch but most times lockup before even reaching the guest desktop, then I get a message that Virtualbox is not responding and would I like to continue or terminate (the hosting OS Crouton  does NOT lock up.  Maybe someone on this thread will indi

[2015-02-20 20:51] rrolsbe commented on #6
Appears to be a problem with the latest version of Virtualbox.  I reverted to the same (previous) version of Virtualbox I am using on the C710 with the 847 CPU.  Version 4.3.20 r96996 appears to work on the C710 with 1007u.

Regards, Ron

[2015-03-05 00:40] Watney opened #7 "apt-get update - failed ... unable to find expected entry"

[2015-03-05 01:26] Watney opened #8 "apt-get update fails + rc.local code 1 + cannot access module locking"
@divx118 Firstly, thank you for all of your work on crouton. After carefully reading your contribution to the Wiki on creating headers for Virtualbox, I stood from my chair and applauded! Genius.

I'm trying to use the kernel headers from your PPA. I have not attempted to compile my own. However, I've run into three questions. Perhaps you can offer suggestions, please.

1. **apt-get update error.*

[2015-03-05 02:39] #7 closed

[2015-03-05 17:49] divx118 commented on #8
1) I still need to add x86 modules to the repo for 3.10.18 kernel. Although we don't use them apt-get will complain they aren't there.
Since you installed the headers, just remove `/etc/apt/sources.list.d/crouton-packages.list` and the message will go away.
2 and 3) Yes you are correct. My script is almost ready, but time is a bit of an issue right now. However I added the steps to change the kern

[2015-03-05 21:09] Watney commented on #8
Thanks so much!! I'll give it a go. Would you like me to close the issue, or leave it open? Thanks again and please don't feel any pressure from me. Like I said at the outset, that someone finally showed us how to compile a kernel for virtualbox is totally amazing! I asked about this back in the days of the Cr48s, but gave up. Genius!!

[2015-03-07 16:22] joshrulez2 opened #9 "kernel 3.10.18 modprobe vboxdrv failed"
@divx118
I installed the headers from your setup-headers.sh and installed virtualbox using their website's .deb file. I have also ran the script to enable VT_X

(precise)josh@localhost:~$ sudo /etc/init.d/vboxdrv setup
Stopping VirtualBox kernel modules ...done.
Removing old VirtualBox pci kernel module ...done.
Removing old VirtualBox netadp kernel module ...done.
Removing old VirtualBox netflt k

[2015-03-09 18:28] divx118 opened #10 "Modules load, but chromebook panics when starting the virtualbox machine."
This could be related to outdated kernel header packages.

[2015-03-09 18:41] leto opened #11 "Is it possible to install virtualbox on arm-based Chromebooks?"
I have a HP Chromebook 11 and it is not clear to me if it is even possible to run Virtualbox via crouton on this architecture. Can you shed some light or point me in the right direction? Thanks!
[code]

[2015-03-09 18:45] divx118 commented on #11
Sadly no, there is no virtualbox arm version available.

[2015-03-09 18:48] leto commented on #11
Thanks for the quick response! Since I want virtualbox for vagrant, I am going to look into the docker provisioner: http://docs.vagrantup.com/v2/docker/index.html

[2015-03-09 18:48] #11 closed

[2015-03-09 21:09] Watney commented on #11
@leto please be sure to post back your Docker experiences. There's a few comments about Docker in [#364](https://github.com/dnschneid/crouton/issues/364)

[2015-03-09 21:12] Watney commented on #10
As a follow-up to my observations detailed at [#1474](https://github.com/dnschneid/crouton/issues/1474)
``uname -r``
``3.10.18``

[2015-03-09 22:17] #9 closed

[2015-03-09 22:20] joshrulez2 commented on #10
I have replicated this issue on 3.10.18

[2015-03-10 06:23] Watney commented on #10
@divx118 the kernel headers in the PPA do appear to be out of date, so I thought I'd try compiling my own.

I followed the Wiki and downloaded the branch chromeos-3.10. When I ran the script, it complained about not finding intel-pineview.

(I wasn't sure where to execute the script, and I ended up running ./prepareconfig in ../chromeos/scripts.)

Running make oldconf defaulted to the general conf

[2015-03-10 16:46] divx118 commented on #10
@Watney Hmm `chromeos-intel-pineview` is there see https://chromium.googlesource.com/chromiumos/third_party/kernel/+/chromeos-3.10/chromeos/config/x86_64/

So
[code]
then
[code]
Maybe you need to disable `CONFIG_ERROR_ON_WARNING` when compiling errors out on a warning, but I am not sure if it is needed anymore. How that is done is explained in the wiki. When then you should do it before setting up

[2015-03-10 17:18] Watney commented on #10
Thanks @divx118 I'll give it another try

[2015-03-11 03:28] Watney commented on #10
@divx118 just reporting in that I successfully built the 3.10.18 modules, installed them following your guide, and booted a Win7 VirtualBox VM. I'll leave a couple notes for others, should they stumble along.

1) I disabled ``CONFIG_ERROR_ON_WARNING`` following the [Wiki](https://github.com/dnschneid/crouton/wiki/Build-kernel-headers-and-install-Virtualbox-(x86)).

2) My first attempt to compile t

[2015-03-11 05:28] divx118 commented on #10
@Watney Thanks for testing this. I a going to update the kernel headers on the ppa.

[2015-03-11 23:06] Leo300MHz opened #12 "After setup-headers.sh init_module denied, header or bios problem?"
Hi guys, thank you for your nice work. The existence of stuff like crouton really convinced me to get a chromebook. After getting my hands dirty everything seems to work like I want it to. However being able to run virtual machines would be the cherry on the cake. Im now trying to get that to work with your scripts.

After running the setup-headers.sh script i get this error:

[  499.362905] Chrom

[2015-03-12 05:34] divx118 commented on #12
Module locking is still on.
You need to change the kernelflags See https://github.com/dnschneid/crouton/wiki/Repack-kernel-to-Enable-VT_x-for-Virtualbox
Remove the `/sys/module/lsm/parameters/module_locking` related lines from your /etc/rc.local.

[2015-03-12 22:48] Leo300MHz commented on #12
Thanks, its going in the right direction. Not quite working yet on this end. Ok so I saved kernel A (?) to /temp/x.2, edited it and 'repacked' it. So VT is now enabled and module locking disabled if thats correct. When I enter my chroot now, I get this warning:

    WARNING: /etc/rc.local failed with code 1

Installing virtualbox did throw an error about a module missing. Virtualbox does start but

[2015-03-13 05:32] divx118 commented on #12
Did you also remove the `/sys/module/lsm/parameters/module_locking` related lines from your /etc/rc.local? So it doesn't throw the error.
So like below.
[code]

[2015-03-13 19:16] Leo300MHz commented on #12
I edited the rc.local and removed those 4 lines. Then I ran the setup-headers.sh inside my chroot again and removed and reinstalled virtualbox. Then I logged out my chroot, booted it again and tried to start the VM. Then I got the same errors as before.

If I try to run modprobe vboxdrv inside my chroot from that rc.local file I get this error:
modprobe: ERROR: could not insert 'vboxdrv': Operatio

[2015-03-13 19:29] divx118 commented on #12
Then you don't have module_locking disabled. You can check if the right kernel flags are set by doing `cat /proc/cmdline`
I am busy to make a script to do it in an easier way. Once I have that done I will update setupheaders.sh  and the rc.local script to avoid these kind of problems. However it will take some time, work is taken up most of my time lately.

[2015-03-13 19:36] Leo300MHz commented on #12
hmm youre right
funny im pretty sure i did the whole /tmp/x.2 thing
ill do it again
Thanks!

[2015-03-13 19:41] divx118 commented on #12
Note that on a chromeos update you will have to do it again.
Also don't forget:
First one to allow booting a not signed kernel and the second to avoid crouton setting the first back to 1.
[code]

[2015-03-14 03:30] Leo300MHz commented on #12
When I run the make_dev_ssd.sh script again on the x.2 file where I added disablevmx=off and lsm.module_locking=0, it reports that it succesfully resigned 1 kernel on device /dev/sda. Cat x.2 shows the two variables I added. But then cat /proc/cmdline doesnt have those two new variables.

[2015-03-14 11:13] divx118 commented on #12
Argh sorry, I should update the wiki. It depends on which kernel chromeos boots next. On chromeos there are 2 kernels and 2 rootfs partitions it switches between those 2 on an update or if 1 fails to boot.
So you probably using kernel B now which is on partition 4. Replace the 2 with 4 and it should work. My script will handle this automatically in the future.
FYI partitions are ordered 2 - Kernel

[2015-03-14 12:22] Leo300MHz commented on #12
Ha ok, you must get a lot of clueless people like me with these problems. Sorry about that. A whole life of windows only makes this stuff hard.

I now did the same for partition 4, ran setup-headers.sh inside the chroot and installed virtualbox and rebooted again. During installation when it tries to teststart virtualbox modules it does give an error saying it is 'not suited to run k'. However boo

[2015-03-14 12:58] divx118 commented on #12
No, You are on the right track. Only my kernel headers on the ppa are a bit
out of date. I try to update them this weekend. Probably this will fix the
crash/reboot.

On Sat, Mar 14, 2015 at 1:22 PM, Leo300MHz <notifications@github.com> wrote:

[2015-03-14 13:57] divx118 commented on #12
Ok, updated the headers for 3.8.11 amd64.
Following should pull them in. Follow on screen instructions.
[code]
If you installed virtualbox with apt-get it should automatically recompile the modules. If you downloaded virtualbox from the site, you should do following to recompile:
[code]
Let me know if it now works for you.

[2015-03-14 14:31] divx118 commented on #10
Updated 3.8.11 amd64 and 3.10.18 amd64 the rest will follow. If anyone can check if they work now and don't cause a reboot anymore.
Following should pull them in:
[code]

[2015-03-14 15:31] Leo300MHz commented on #12
It gave a warning that there already were kernels with the same version number installed. I told it to continue anyways. Then I rebooted the chroot. At the first boot the chroot didnt run. At the second boot the chroot did run but it is unresponsive to any input.

[2015-03-14 15:52] divx118 commented on #12
Yep, continue anyway for the installed kernel is good. It sees the chromeos kernel which of course has the same version. It doesn't overwrite the chromeos kernel since you are in a chroot.
Hmm strange that the chroot is unresponsive. That shouldn't be a problem related to this.
Is it immediately unresponsive when starting it?
Try updating your chroot with:
[code]
I can later today test them myself

[2015-03-14 19:56] divx118 commented on #12
I tried the new 3.8.11 kernel headers on a trusty (ubuntu) chroot. They work just fine for me. I will later also try them on a jessie chroot.

[2015-03-15 00:15] Watney commented on #10
@divx118 reporting in after testing ``intel-pineview`` with
``uname -r``
``3.10.18``

I did the following:
1. Created a fresh chroot with trusty (Ubuntu)
2. Followed your updated [README](https://github.com/divx118/crouton-packages/blob/master/README.md): downloaded and ran the new ``setup-headers.sh``
3. Installed VirtualBox, which successfully installed the kernel modules using DKMS
4. Fired-up

[2015-03-15 00:21] divx118 commented on #10
@Watney Thanks for taking the time to test this. If you encounter any problems or want some improvements on the change-kernel-flags script then your welcome to create a new issue for it.

[2015-03-15 00:21] #10 closed

[2015-03-15 00:34] Watney commented on #10
I'm glad that I could be of help @divx118. You're up really late ... take care and all the best. Thanks so much!!

[2015-03-15 11:25] #4 closed

[2015-03-15 11:25] #8 closed

[2015-03-15 11:26] #6 closed

[2015-03-15 13:06] divx118 commented on #12
I didn't have time yet to test jessie. However updated all relevant kernel headers for the different architectures and kernels. Also included now the script to easy change the kernel flags and updated the [README.md](https://github.com/divx118/crouton-packages/blob/master/README.md) with the usage.

[2015-03-16 18:09] rrolsbe commented on #10
My c710 with the 847 CPU and kernel version 3.4.0 does NOT reboot when I launch a Virtualbox VM; however, my C710 with 1007 CPU and kernel version 3.8.11 DOES reboot when launching any VM.  Both are running the same version of ChromeOS, Crouton and Virtualbox.  This problem started after the latest automagic ChromeOS update.

I did the following in my 12.04 Crouton chroot but my C710 with the 1007

[2015-03-16 18:32] divx118 commented on #10
@rrolsbe You also had this issue https://github.com/divx118/crouton-packages/issues/6 Do you still run the older version of virtualbox that worked on 1007U?
Could you post `$ sudo cat /dev/pstore/console-ramoops` preferably on gist or pastebin and put the link here.

[2015-03-16 18:56] rrolsbe commented on #10
Still using older version of Virtualbox on both C710 Chromebooks.

https://gist.github.com/rrolsbe/0db8dad34208d74e3b48#file-console-ramoops-txt

[2015-03-18 04:53] DennisLfromGA commented on #12
@divx118,

That is a great script - I wish I could write'm like that. :+1:
I'll use it as a study reference... ;)

[2015-03-18 14:54] Watney opened #13 "Headers for 3.14.0"
@divx118 I feel like the kid who's back asking for more ...

``uname -a``
``Linux localhost 3.14.0 #1 SMP Thu Mar 12 20:35:26 PDT 2015 x86_64 Intel(R) Core(TM) i7-5500U CPU @ 2.40GHz GenuineIntel GNU/Linux``

After you spent all of last weekend updating the repository, there's a new one on the block, 13.4.0 :(

[2015-03-18 16:46] divx118 commented on #13
No problem I can add those too it is around for a while, but no one asked for it. So I didn't build it. Just curious which device is it ?

[2015-03-18 16:54] divx118 commented on #12
@DennisLfromGA thanks :). There are still a few todo's in it, but that is for later. BTW if you find anything not working correctly or see some things that could be improved I like to hear it.

[2015-03-18 17:28] Watney commented on #13
(*blush*) new Pixel i7

[2015-03-18 17:52] divx118 commented on #13
divx118 wishes he had a grip on a Pixel i7 :) My HP chromebook 14 with Intel Celeron 2955U will have to do for now. Still have my main notebook with i7 and 12Gb ram which I use for building.

[2015-03-18 21:34] DennisLfromGA commented on #12
@divx118,

Will do.
I have a 128GB SSD sitting on my desk waiting for me to gather the courage to install it in my HP Chromebook 14 - it looks like a daunting task. Once done though, I'm hoping to try out various vm's.

[2015-03-19 02:04] Watney commented on #13
@divx118 [update] please *don't* rush the 3.14.0 headers on my account.

I'm amazed at how well Chrome Remote Desktop runs on a Pixel! It's far superior to a standard Chromebook. The nasty "full screen" notice is rarely troublesome, and it even binds the escape key. All of this is to say that I'm feeling less of a need to run Win7 in VirtualBox.

Thanks again!!

[2015-03-20 20:20] wb0gaz opened #14 "chrome os (probably) updated, crouton 14.04 gnome, now virtualbox won't start"
(DennisLfromGA suggested I post this here):

I've been using crouton (for the last few months with Ubuntu 14.04 Gnome) on an Acer C720 for about a year, includng Virtualbox. Somewhere in the last few weeks, Virtualbox no longer starts, instead advising me to run /etc/init.d/vboxdrv setup (I had installed virtualbox a year ago along with my first Crouton install - Ubuntu 12.04 - and it has worked w

[2015-03-20 22:19] rrolsbe commented on #10
Forgot to ask.  Is anyone else still having the crash issue when launching any Virtualbox VM?  See my post three back for details regarding my crash problem.

Much Thanks in Advance
Regards, Ron

[2015-03-21 03:28] divx118 commented on #14
Just follow the https://github.com/divx118/crouton-packages/blob/master/README.md

[2015-03-21 12:17] wb0gaz commented on #14
Thank you! Problem solved - worked great!

Dave

------------------------------
On Fri, Mar 20, 2015 9:28 PM MDT Maurice van Kruchten wrote:

[2015-03-21 14:55] #14 closed

[2015-03-22 20:54] divx118 commented on #13
Added 3.14.0 64bit kernel headers to the repo. Let me know if they work. Thanks in advance. https://github.com/divx118/crouton-packages/commit/b4f95046aa61414eb8a776e66a1714d7dbad214f

[2015-03-23 18:20] Watney commented on #13
@divx118 thanks for adding the 3.14.0 64bit kernel headers. I successfully installed them in a clean chroot and launched a Win7VM in VirtualBox.

[2015-03-23 18:33] divx118 commented on #13
Nice, thanks for testing @Watney .

[2015-03-23 18:33] #13 closed

[2015-03-29 18:57] #12 closed

[2015-03-29 19:00] divx118 opened #15 "/etc/rc.local fails because unmounting /lib/modules will fail when more then one chroot is running."
We need to be more specific when unmounting /lib/modules. It must only unmount the bind mounts of the current chroot.

[2015-04-01 14:25] rrolsbe commented on #10
Loaded latest version of Virtualbox onto C710 with 1007u CPU and all Virtualbox VM's are working properly now.  I had been using an older version of Virtualbox to solve a previous problem I had with with the all VM's not running properly.  Feel free to close this issue.

Regards, Ron

[2015-04-01 15:22] divx118 commented on #10
@rrolsbe Thanks for reporting back. Glad to see it works for you now :).

[2015-04-11 19:51] Leo300MHz commented on #12
Last time I posted here I went on a holiday, then when I came back my chromebook had auto-updated so I needed to perform all the system edits I had done previously, before I could try your script again. I tried it just now and it works! None of the previous errors showed up. Thanks a bunch. Now downloading a windows 8.1 ISO file from the MS servers to install it as a VM, so I can also run windows

[2015-04-11 21:17] divx118 commented on #12
@Leo300MHz To regain access you normally only need to run the `change-kernel-flags` script again in a cros shell. This will disable module_locking, after a chromeos update.
[code]
Sometimes new kernel headers will be needed, which can be installed if I already uploaded them with the following command in your chroot shell.
[code]

To start something at bootup you will need to make your rootfs rw, e

[2015-05-12 04:59] maxenglander commented on #10
Hi @divx118, I am experiencing this issue. I'm running a recent version of crouton, have `disablevmx` and `lsm.module_locking` disabled (thanks to your awesome scripts), have installed the latest VirtualBox via the PPA on the Virtualbox site.

I should also mention that I am running a custom Chromiumos build with KVM enabled (but am doing `modprobe -r` to remove the KVM extensions before running V

[2015-05-13 19:19] divx118 commented on #10
Just a quick question? Do you have bridged network set? If not try setting it to bridged.
I probably will have some time in the upcoming weekend to take a closer look at it.

[2015-05-20 20:38] rrolsbe opened #16 "Does Crouton & Virtualbox work on Thinkpad x131e 1007u CPU based Chromebook?"
I have Crouton/Ubuntu 12.04 & Virtualbox working on two Acer C710 Chromebooks one having a 1007u CPU and the other a 847 CPU.  I am considering the purchase of a 1007u based x131e Thinkpad Chromebook.

Thanks Very Much in Advance
Ron

[2015-05-20 20:49] divx118 commented on #16
I guess it should, because it also runs on your Acer C710 with the 1007u. However I can't guarantee it, because I don't have one. Maybe someone else will know.

[2015-05-20 22:04] Watney commented on #16
@rrolsbe I've successfully run VirtualBox on a Yoga 11e, if that helps.

[2015-05-26 19:08] johnthomas22 commented on #12
Brilliant stuff. Now have an Oracle upgrade practise environment running on a Chromebook Pixel. Running an upgrade with two of four CPUs, and the virtual storage on a 128GB SD card!

Thanks for the great help. (The last step that resolved the vbox driver errors was your lines above downloading the change-kernel-flags script. )

[2015-06-21 15:42] kevglynn opened #17 "VirtualBox won't run... maybe an issue header flags script tested with (Linux localhost 3.10.18 #1 SMP Wed Jun 10 23:15:24 PDT 2015 x86_64 Intel(R) Celeron(R) CPU N2830 @ 2.16GHz GenuineIntel GNU/Linux)..."
@divx118 and @dnschneid etc.

When I ran the `setup-headers` command, I noticed some strange looking things like `apt-get: not found` messages and others... (see below). On top of that, I'm having trouble installing and running virtualbox, which is giving me the message that I am missing kernel headers. My kernel version is 3.10.8 (Linux localhost 3.10.18 #1 SMP Wed Jun 10 23:15:24 PDT 2015 x86_64

[2015-06-21 15:48] kevglynn commented on #17
Now there's more. Virtualbox opened up and let me walk through the VM wizard until the final step, when I got a

When I tried to create (final step of wizard):

[code]

When I tried to go back and then forward again from the initial screen

[code]

When I tried to open the VM that had been "created"

[code]

Thanks in advance for any help you can offer! If I'm too green, and you don't want to both

[2015-06-21 16:37] divx118 commented on #17
You need to run `sudo sh setup-headers.sh` in a shell in the chroot, not in chromeos.

[2015-06-22 05:10] kevglynn commented on #17
Ahh, yes! Thanks!

[2015-06-22 05:10] #17 closed

[2015-08-04 23:41] CorySpitzer opened #20 "Trying to Build kernel headers and install Virtualbox"
I'm trying to get virtual box installed so that I can use Vagrant.

I followed the instructions [here](https://github.com/dnschneid/crouton/wiki/Build-kernel-headers-and-install-Virtualbox-(x86)) to the letter, as best as I could.

I got to the part where you log out and log in after running `sudo chmod +x /etc/rc.local`

When I logged out and then back in I got `WARNING: /etc/rc.local failed with

[2015-09-27 13:13] JoshMcCullough opened #21 "Accept default option, as indicated."
After running `sudo sh change-kernel-flags`, I'm prompted to confirm my action and presented with the options 'Y' or 'n'. Since 'Y' is uppercase, indicating the default value, I hit `enter` but then the script simply exited. This is nit-picky, but the 'Y' should be lower case _or_ correctly default when `enter` is pressed.

[2015-09-27 15:13] divx118 commented on #21
@JoshMcCullough You are totally right, sorry overlooked it. I should  make 'n'  uppercase. I will change it ASAP. Initially I had `y` as default, but decided that it is better to make `n` the default,  so you are sure you want to go ahead.

[2015-09-27 17:35] divx118 commented on #21
Fixed https://github.com/divx118/crouton-packages/commit/acc9cd74b4e0dfce9730f69557d5d0dba76e239a thanks.

[2015-09-27 17:35] #21 closed

[2015-09-27 17:39] divx118 commented on #20
Sorry I didn't come back to you sooner. Is this still an issue. What output do you get when you run in the chroot `sudo sh -x /etc/rc.local` ?

[2015-09-27 18:22] CorySpitzer commented on #20
I never got past this issue, but I haven't been actively working on.

When I run that command I get

[code]

[2015-09-27 19:10] divx118 commented on #20
It seems you don't have the vboxdrv kernel modules installed. You can follow https://github.com/divx118/crouton-packages/blob/master/README.md to get the kernel headers installed after that you can install virtualbox which will install the modules. If you aren't gonna use virtualbox so no vboxdrv then you need to edit the /etc/rc.local and change it to your own modules you want to load. However yo

[2015-09-27 20:10] JoshMcCullough commented on #21
NP, it's a small bug! Thanks for making this available, I've now got VirtualBox up and running on my Pixel2. :+1:

[2015-10-25 16:53] Asuza opened #22 "Cannot create host-only adapter"
When running `vboxmanage hostonlyif create` (which is being called from running `vagrant up` in my Homestead folder), I receive the following error:

[code]

Does this indicate I did something wrong during the linux header and virtualbox installation? Is something else wrong? I tried restarting virtualbox, which seems to fix the problem for most people... however, nothing I do seems to get it to w

[2015-10-25 20:59] divx118 commented on #22
No, you didn't do anything wrong. hostonly adapter does not work. I think it has something to do with the kernel config chromeos is using, but am not sure. I never had to use it, so didn't dive to deep into it.

[2015-10-26 17:29] Asuza commented on #22
Alright, thanks, @divx118! I searched online for far too long and couldn't find an answer, and you've put my mind at ease. I'll have to check into whether Vagrant can use some other type of networking with VirtualBox.

[2015-11-28 07:03] DennisLfromGA opened #23 "Comment: Everything works great - Thanx!"
Just wanted to let you know that I finally got around to playing with virtualbox vm's and, after running your `change-kernel-flags.sh` script in Chrome OS and your `setup-headers.sh` script in my 'trusty' chroot, and then installing `VirtualBox 5.0.10` of course, everything is running very smoothly.

I had only used VMware in the past on desktops, etc. and never had tried VirtualBox. I installed a

[2015-11-28 16:43] divx118 commented on #23
np glad I could help you out :) and thanks for the thumbs up.

[2015-11-28 16:43] #23 closed

[2015-11-29 13:33] kmadill opened #24 "Change Kernel Flags Script Issue"
Hi there,

I've been trying to get Virtualbox to work on my Toshiba Chromebook 2. When I try to run VirtualBox, I get:
-------
Kernel driver not installed (rc=-1908)The VirtualBox Linux kernel driver (vboxdrv) is either not loaded or there is a permission problem with /dev/vboxdrv. Please reinstall the kernel module by executing  '/etc/init.d/vboxdrv setup'as root. If it is available in your distr

[2015-11-29 13:44] kmadill commented on #24
Of course, right after posting this I realised my mistake. I had to run this script from the crosh shell! You'd think your bolding of that work in the readme would have clued me in sooner...!

[2015-11-29 13:56] divx118 commented on #24
np :)

[2015-11-29 13:56] #24 closed

[2015-12-09 00:49] Watney opened #25 "Something broke VirtualBox today"
Hello,

After CrOS updated to Version 48.0.2564.23 beta (64-bit), I followed my standard procedure:

1. Change the kernel flags
2. Reboot
3. Update crouton (which also updates all packages)
4. Reboot
5. Start my trusty chroot and then VirtualBox: boom!

```Kernel driver not installed (rc=-1908) The VirtualBox Linux kernel driver (vboxdrv) is either not loaded or there is a permission problem ...``

[2015-12-09 16:32] divx118 commented on #25
Hmm it seems not to be able to create the device node. I need to try it myself soon. Currently I have no virtualbox installed on my chromebook.

I wonder what the chromeos developers changed this time...

[2015-12-09 16:42] Watney commented on #25
I'll check the output later today and report.

Please don't rush to install yourself. I'm going to blow crouton away. It's unusable now: the video tares badly and you cannot switch between CrOS and the chroot. And to be honest, I'm not using it :)

Thanks for the reply. I'll post the output later

[2015-12-09 20:09] Watney commented on #25
According to [the current Oracle user manual](http://download.virtualbox.org/virtualbox/5.0.10/UserManual.pdf), ```vbox``` is installed in ```/etc```

The ouput of ```$ ls -al /dev |grep vbox``` is null, but

```$ ls -al /etc |grep vbox```
```drwxr-xr-x   2 root root    4096 Nov 10 09:54 vbox```

VirtualBox 5.0 introduced several changes, one of which is the error message over when the chroot is l

[2015-12-10 11:49] neurocyte commented on #25
I also use virtualbox on crouton and it broke for me too. /dev/vboxdrv does not exist even though lsmod shows that all the vbox modules are loaded. /proc/devices and /proc/misc don't show anything vbox related. dmesg is quiet too.

[2015-12-10 11:51] neurocyte commented on #25
Sorry, that was not accurate. dmesg *does* show the regular "Chromium OS LSM: init_module locking-ignored" message for vboxdrv, but nothing else.

[2015-12-10 16:28] divx118 commented on #25
@neurocyte Yep thanks, that is what I expected. I wonder if we can make the device node manually after  the modules are loaded ....
@Watney Thanks anyway for reporting the issue. :)

[2015-12-10 17:47] divx118 commented on #25
Damn I don't seem to be affected.
[code]
Version 48.0.2564.23 dev (64-bit)
Platform 7647.18.0 (Official Build) dev-channel falco
Firmware Google_Falco.4389.92.0

[2015-12-10 17:49] divx118 commented on #25
Can anyone post there kernel version `uname -a`? I think it has to be kernel related I am on 3.8.11.

[2015-12-10 19:55] Watney commented on #25
Before I blew my system away, I checked and it was 3.14.0 (2015 Pixel)

[2015-12-10 20:20] divx118 commented on #25
Ok, thanks I am going to build some new kernel header files for 3.14 and
see if that will fix it.

On Thu, Dec 10, 2015 at 8:55 PM, Watney <notifications@github.com> wrote:

[2015-12-27 09:44] divx118 commented on #25
Sorry it took so long, however I [updated the header files for 3.14](https://github.com/divx118/crouton-packages/commit/2958682dcd5df30ae7195d30b1cdb33e9db6d2b1) see if that solves the issue.
Use the following in a chroot to update the headers.
[code]
Then rebuild the virtuabox modules.

If there are still issues, then please reply and I will reopen this.

[2015-12-27 09:44] #25 closed

[2016-01-01 00:59] czenzel opened #26 "Kernel Panic on Chromebook Pixel 2015 (Kernel 3.14.0)"
Hello,

I noticed that I am receiving a kernel panic after I have run the script and try to install the latest VirtualBox 5.0.12. I am on a Chromebook Pixel 2015, 64gb, Wi-Fi, Core i7. I have tried the crouton script to install the following variants all with the same kernel panic result:

- Trusty, xiwi, unity
- Precise, xiwi, unity
- Wily: xiwi, unity

When the VirtualBox 5.0.12 deb file gets to

[2016-01-01 05:31] czenzel commented on #26
It seems to be an issue with VirtualBox 5.0.12 from the direct web site *.deb packages. I installed virtualbox-dkms using apt-get and all the modules installed. Maybe a feature enhancement for 5.x versions? I am okay with running 4.x for now.

[2016-01-01 05:49] czenzel commented on #26
I managed to get VirtualBox 4.x installed from apt-get on Ubuntu Trusty; however, this error appears when trying to load /etc/init.d/virtualbox start after VirtualBox mentions that the drivers are not configured:

[code]

Now when I run lsmod it shows:

[code]

Running ls dev | grep vbox shows:

[code]

[2016-01-01 06:57] czenzel commented on #26
Here is what I have narrowed down on the panics. The VirtualBox package tries to do an rmmod which kernel panics the machine. Drivers can be loaded, but I can't rmmod. I removed rmmod for now from the init.d script and found another interesting one. On the Chromebook the dev device cannot be created now. I am going to check into this some more and report back.

[2016-01-01 09:52] divx118 commented on #26
I hoped releasing new kernel headers for the 3.14 kernel would have fixed this, apparently not. https://github.com/divx118/crouton-packages/issues/25
It is very hard for me to troubleshoot, because I don't have a pixel and it is also not for sale in my country. For some reason it indeed doesn't have permission or will not create the /dev/vboxdrv etc
This could be indeed udev at fault.

[2016-01-01 10:20] czenzel commented on #26
That is actually what I am looking at now. So far I am having an issue were it loads the modules but does not create the dev devices. I tried to mknod them manually and I am a step in the right direction. I will try the major, minor device numbers in your code there. I might have wrong ones. What I did was I compiled the modules separately and installed from the .run to stop the panics from happen

[2016-01-01 10:40] czenzel commented on #26
So far I can communicate with the manually created vboxdrv character devices; however, there is a version mismatch when using the download from VirtualBox.org and the compiled modules. From what I am reading I am seeing a lot of information pointing to the x86 v. x86-64 editions causing a mismatch.

I am trying to run the x86-64 version.

A URL I see referenced from VB is http://forums.fedoraforum

[2016-01-02 06:37] nigelhealy commented on #26
I have been using Virtualbox on my Toshiba Chromebook 2 for months, thanks to your scripts.

Something has happened recently, don't know the date but within the last few weeks, I don't often use Virtualbox so sorry can't pinpoint a moment it broke.

Virtualbox now does a full chromebook reset.

I've attempted to isolate "is it me" by doing a full clean install. Powerwash, crouton trusty xfce.

The

[2016-01-02 06:49] czenzel commented on #26
For now I created a backup of a chroot to restore so I don't have to keep downloading packages. I removed the one containing VBox so I don't accidently damage my CB Pixel 2015. I can restore it at any time.

I did get CrossOver Office working (I won a Twitter contest with Free Downloads for Life) and trying to see if I can get my Adobe package to at least install part of my tools into it.

If I ca

[2016-01-10 23:06] laurenweinstein1 opened #27 "Kernel driver load for Trusty/Crouton suddenly failing (VirtualBox)"
For quite some time I've been successfully running VB on Trusty on Crouton, with some shell scripts I run manually in CrOS to re-enable their loading after CrOS updates and appropriate entries in /etc/rc.local. This process is suddenly failing, even after my scripts run to allow rw, etc. I can't get past: Kernel driver not installed (rc=-1908). Has there been a change in the last couple of CrOS re

[2016-01-10 23:21] divx118 commented on #27
@laurenweinstein1 You are probably experiencing #26 can you post the output of `uname -a` ?

[2016-01-10 23:26] laurenweinstein1 commented on #27
Linux localhost 3.8.11 #1 SMP Tue Jan 5 21:57:29 PST 2016 x86_64 x86_64 x86_64 GNU/Linux

Noting that there's no panic, the drivers just aren't loading. I've been using the same headers for ages, if they've changed that would likely be involved. I built them myself originally via instructions from here, but haven't touched any of that in quite some time. Thanks.

L

[2016-01-10 23:30] divx118 commented on #27
@laurenweinstein1 Did you run the script change-kernel-flags again. So you disable module_locking and are able to load modules?
Open a **crosh** shell and follow on screen instructions:
[code]

[2016-01-10 23:35] laurenweinstein1 commented on #27
That's all part of my standard scripts. Running them again (which I did
try, by the way) doesn't make any difference, since unlocking and rw both
report that they're already done. This is the first time these have failed
to permit the driver loads since I first got this going way back.

On Sun, Jan 10, 2016 at 3:30 PM, Maurice van Kruchten <
notifications@github.com> wrote:

[2016-01-10 23:42] divx118 commented on #27
You probably need to rebuild the kernel headers. I will check if the headers in the git here still works. I am  on the same kernel 3.8.11 version.

[2016-01-10 23:48] laurenweinstein1 commented on #27
I'm not sure I remember the exact process to pull in the appropriate new sources and rebuild. Everything required would still be here though. Can you point me in the right direction? In particular, I don't want to muck up the Trusty crouton chroot itself in the process. That happened once and it wasn't pretty. Thanks.

[2016-01-10 23:56] divx118 commented on #27
@laurenweinstein1 You can just use https://github.com/divx118/crouton-packages/blob/master/README.md So the kernel headers I build. Or backup your chroot first then follow the wiki on crouton github. So if you mess things up you can always restore.

[2016-01-11 00:02] laurenweinstein1 commented on #27
It should be safe to run your script so long as I save my rc.local to
restore afterwards, right? Thanks!

On Sun, Jan 10, 2016 at 3:56 PM, Maurice van Kruchten <
notifications@github.com> wrote:

[2016-01-11 01:20] laurenweinstein1 commented on #27
I ran your script but aborted out. Actually, I said OK to the headers
install in the script (my headers are in my home directory, with another
protection copy) but chickened out at the kernel image install. Then
restored my own rc.local. So I was able to get back into my system OK.

I made a new backup of the chroot to an external drive, but those scripts I
downloaded are where I got fouled up onc

[2016-01-11 07:33] laurenweinstein1 commented on #27
I went ahead and built the new headers from scratch -- they built OK. I also saved the existing contents of /lib/modules/3.8.1 and moved them aside after unloading all modules. However, I'm getting errors when I attempt to load the new modules. I don't recall seeing this dkms.conf error before. Any ideas? Thanks.

#sudo dpkg -i linux-image-3.8.11_3.8.11-10.00.Custom_amd64.deb
(Reading database ...

[2016-01-11 07:54] divx118 commented on #27
That kernel replacing warning you got shouldn't be a problem if you didn't make the chromeos rootfs writable it can't replace the kernel. Also it will be installed in the /boot of your chroot not in /boot of your chromeos.

Normally the dkm.conf shouldn't be a problem. Did you install your virtualbox from the ubuntu repo or from the oracle page? If from the oracle page you can  `sudo /etc/init.d/v

[2016-01-11 16:44] laurenweinstein1 commented on #27
I actually am rw so I guess it's a good thing I stopped at that point --
that's apparently how I rendered Trusty unbootable originally when I first
set this up.

The vbox drivers are missing, only old ones are present:

/lib/modules/old/3.8.11/updates/dkms/vboxpci.ko
/lib/modules/old/3.8.0-31-generic/misc/vboxpci.ko

I believe (I can't swear to this) that my original vbox install was from
oracle,

[2016-01-11 16:46] laurenweinstein1 commented on #27
$ sudo /etc/init.d/vboxdrv setup
Stopping VirtualBox kernel modules ...done.
Uninstalling old VirtualBox DKMS kernel modulesError! Could not locate
dkms.conf file.
File:  does not exist.
 ...done.
Trying to register the VirtualBox kernel modules using DKMSError! DKMS tree
already contains: vboxhost-5.0.10
You cannot add the same module/version combo more than once.
 ...failed!
  (Failed, trying wi

[2016-01-11 16:47] laurenweinstein1 commented on #27
Looks like it couldn't find the kernel. I'll try again:

cat /var/log/vbox-install.log
Uninstalling modules from DKMS
Attempting to install using DKMS
Failed to install using DKMS, attempting to install without
Makefile:185: *** Error: unable to find the sources of your current Linux
kernel. Specify KERN_DIR=<directory> and run Make again.  Stop.

On Sun, Jan 10, 2016 at 11:54 PM, Maurice van Kruc

[2016-01-11 16:53] laurenweinstein1 commented on #27
I put the KERN_DIR specification in vboxdrv. And got this. Perhaps it wants
it as an environment variable?

Uninstalling modules from DKMS
Attempting to install using DKMS
Failed to install using DKMS, attempting to install without
Makefile:185: *** Error: unable to find the sources of your current Linux
kernel. Specify KERN_DIR=<directory> and run Make again.  Stop.

On Sun, Jan 10, 2016 at 11:54

[2016-01-11 17:20] nigelhealy opened #28 "ChromeOS 3.14.0: New Virtualbox cannot install, existing installations panic"
So I've had this issue for a few weeks now. I've spent much of the time seeking to eliminate myself as the cause, and try to fix it myself, and now can prove its a purely repeatable problem, now beyond my ideas to fix.

Take a new (e.g. Powerwash) Chromebook, developer mode. I have a Toshiba Chromebook 2 with

uname -a

Linux localhost 3.14.0 #1 SMP Wed Jan 6 22:01:46 PST 2016 x86_64 Intel(R) Core

[2016-01-11 19:09] divx118 commented on #28
@nigelhealy Yes unfortunately I don't have a chromebook with the 3.14 kernel so it is very hard for me to troubleshoot since this is a duplicate of #26 I will close this issue now. Thanks for reporting it at least is clear that all 3.14.0 kernels are affected. I see if I notice something in the recent kernel commits on chromeos.

[2016-01-11 19:09] #28 closed

[2016-01-11 19:14] laurenweinstein1 commented on #27
Got it working. Changed to an environment variable and vboxdrv setup built the drivers and started them, VB is now running properly. Some problem in my rc.local is preventing them from starting at boot as they used to -- but they load manually and I'll figure it out. Thanks very much!

Best,

L

[2016-01-11 19:28] divx118 commented on #26
@nigelhealy Can you perhaps post the output of `sudo cat /dev/pstore/console-ramoops` after the chromebook reboots? See if there is maybe something useful.

[2016-01-11 19:33] divx118 commented on #27
@laurenweinstein1 Thanks for reporting back, sorry I didn't have much time to help you with this. Glad you solved it on your own. I agree /etc/rc.local should be improved, something still on my todo list.

[2016-01-11 20:24] laurenweinstein1 commented on #27
Looks like I have to re-open this. Trouble. Everything seemed to be working, but the ubuntu updater now keeps trying to download and install a 3.8.11 binary image. Apparently it fails the install, but keeps trying. Worse, after a boot it took me three tries to get back into the chroot. It kept failing and I see now that my rc.local hasn't run. So something is amiss! I'm going to take a chance and

[2016-01-11 20:33] laurenweinstein1 commented on #27
I've solved the booting/rc.local problem. But ubuntu updater keeps insisting it wants to download and install a 3.8.11 image -- the latter presumably fails, of course. Can you suggest a way to stop it? Thanks!

[2016-01-11 21:15] nigelhealy commented on #26
sudo cat /dev/pstore/console-ramoops
cat: /dev/pstore/console-ramoops: No such file or directory

So when I look inside the script running it is writing a log to /tmp

The issue is nothing in the end final state is getting saved, as if Crouton
is caching writes. Ideas to make it run slower but commit each write to the
Chromebook's SSD so I can see what is happening? Or how do I make it write
to an

[2016-01-11 21:51] divx118 commented on #26
@nigelhealy I was hoping there was something in console-ramoops. A reboot of a chromebook is normally caused by a kernel panic and it used to write that to  console-ramoops. If you can edit the script you just could let it write to ~/Downloads

[2016-01-11 21:56] divx118 commented on #26
@nigelhealy Try this `sudo cat /dev/pstore/console-ramoops > ~/Downloads/panic.txt` it should create a panic.txt in Downloads see if we can find something in there.

[2016-01-11 22:02] nigelhealy commented on #26
Oops. You meant in ChromeOS, not the chroot. Right its there. Something
useful? So I'm running the guide so you see the /etc/rc.local modprobes
running, then I'm trying to run virtualbox setup, then bang!

[   21.605184] Chromium OS LSM: init_module locking-ignored
obj="/lib/modules/3.14.0/updates/dkms/vboxdrv.ko" pid=10608
cmdline="modprobe vboxdrv"
[   21.617057] Chromium OS LSM: init_module loc

[2016-01-11 22:27] laurenweinstein1 opened #29 "Continuation of Issue #27 // Updater keeps trying to download kernel and fails"
I don't know if my comments on #27 after it was closed (not by me) are being seen, so I'm continuing here.

- - -

Looks like I have to re-open this [oops, GitHub won't let me]. Trouble. Everything seemed to be working, but the ubuntu updater now keeps trying to download and install a 3.8.11 binary image. Apparently it fails the install, but keeps trying. Worse, after a boot it took me three tries

[2016-01-11 22:56] laurenweinstein1 commented on #27
Trouble. Everything seemed to be working, but the ubuntu updater now keeps trying to download and install a 3.8.11 binary image. Apparently it fails the install, but keeps trying. Worse, after a boot it took me three tries to get back into the chroot. It kept failing and I see now that my rc.local hasn't run. So something is amiss! I'm going to take a chance and try reboot again.

UPDATE:
I've sol

[2016-01-11 23:04] laurenweinstein1 commented on #29
#27 reopened. Continued there.

[2016-01-11 23:04] #29 closed

[2016-01-12 00:59] laurenweinstein1 commented on #27
Here's what the updater keeps trying to download/install: Linux kernel binary image for version 3.8.11.

L

[2016-01-12 04:20] laurenweinstein1 commented on #27
Looks like there are more related problems. Tried to do a crouton-update -- noticed an error about trying to install a 3.8.11 image. The update stalled out with an incomplete chroot setup. I continued it and there were more errors. The chroot ultimately started -- but obviously there's a configuration problem now I'd like to fix. Here are some of the errors I was able to capture initially before t

[2016-01-12 16:40] divx118 commented on #27
@laurenweinstein1 Yes, that is because crouton does a `sudo apt-get update && sudo apt-get upgrade` however that will fail. I think it has to do with the fact that you previously aborted the install script. What happens if you run `sudo apt-get update && sudo apt-get upgrade`  in the chroot? You can safely install linux-image-3.8.11_20150314_amd64.deb it will do no harm to your chromebook. Like I

[2016-01-12 16:52] laurenweinstein1 commented on #27
This is very strange. I'm now getting apt-get not found when I try to run it on the CrOS side. Presumably somehow due to the forced abort of the setup script. I'm also having a problem with having to try several times to flip back to CrOS from Trusty before I get the window tabs and such -- but I've been seeing that recently and I don't think it's related to this problem. I'm willing to try pretty

[2016-01-12 16:59] mustacken opened #30 "rootdev: not found, cgpt: not found"
Hello. Thank you for creating this repo and script! However, while following the instructions on a fresh crouton install of precise, I get the following from running the script:

    sudo sh change-kernel-flags
    change-kernel-flags: 1: /home/mustacken/Downloads/change-kernel-flags: rootdev: not found
    change-kernel-flags: 1: /home/mustacken/Downloads/change-kernel-flags: cgpt: not found

[2016-01-12 17:00] divx118 commented on #27
Not in cromeos, in your chroot. Just to clarify, when you start an update with the crouton script the crouton scripts enters your chroot at one point to do `sudo apt-get update && sudo apt-get upgrade`. Safest way is to remove my source file `/etc/apt/sources.list.d/crouton-packages.list``in the chroot, then run   `sudo apt-get update && sudo apt-get upgrade`  After it completes succesfully your c

[2016-01-12 17:02] divx118 commented on #30
@mustacken The change-kernel-flags script needs to be run in a crosh shell, not in a chroot. The setup-headers.sh needs to be run in a chroot.

[2016-01-12 17:38] laurenweinstein1 commented on #27
Bingo. Everything now appears back to normal, and crouton-update also worked. I have to admit I do not fully understand the intricacies of the CrOS/Crouton/chroot architecture. Thanks again!

[2016-01-12 17:44] divx118 commented on #27
np

[2016-01-12 17:44] #27 closed

[2016-01-12 21:19] divx118 commented on #26
Looking at the kernel oops and noticing `[   55.427136] general protection fault: 0000 [#1] SMP` and `[   55.429705] RIP: 0010:[<ffffffffa4e58eab>]  [<ffffffffa4e58eab>]
destroy_params+0x2d/0x3f`
It could be somehow related to the latest commit in [kernel/params.c](https://chromium.googlesource.com/chromiumos/third_party/kernel/+/5ed6005af655ece971e092a13e5df1e3181e607c%5E%21/) however at a first

[2016-01-13 01:01] FaberfoX commented on #26
I'm having the same (or a really similar) issue on my celeron toshiba 2015. I had a failing upgrade a couple of days ago, it complained that the modules folder was already present and suggested to rename it. I did (sudo mv /lib/modules/3.14.0/kernel /lib/modules/3.14.0/kernel.old) and since then, /dev/vboxdrv is not being created, and trying to rmmod vboxdrv or running /etc/init.d/vboxdrv setup tr

[2016-01-13 18:03] divx118 commented on #26
@FaberfoX `/etc/init.d/vboxdrv setup` will do a rmmod first so that will explain the reboot when running that. You could proceed where @czenzel ended. See why it doesn't create the vbox devices. Like I said I don't have a chromebook with a 3.14 kernel, so it is a walk in the dark for me. (Still hoping the pixel 2 will come to the Netherlands)

[2016-01-14 04:17] robertstrom opened #31 "Virtualbox will not start after ChromeOS update / error running the hange-kernel-flags script"
Hello,

My ChromeOS was updated to  47.0.2526.110 (64-bit) a few days ago and I went to run Virtualbox in my Trusty XFCE crouton and the VM would not start.

At that point I went into the crosh, entered a shell and issued the command

sudo sh ~/Downloads/change-kernel-flags -r

When I issue this command I get this error

chronos@localhost ~ $ sudo sh ~/Downloads/change-kernel-flags -r
List of back

[2016-01-14 05:38] divx118 commented on #31
@robertstrom Just run `sudo sh ~/Downloads/change-kernel-flags` without -r to change the flags again. -r is needed when you want to  restore an old kernel or undo the flag changes. Normally you won't want this.

I will look a the script and see why it can't find your backup kernel, because that should work also.

[2016-01-15 03:33] robertstrom commented on #31
@divx118  - Thanks ... that worked great! Appreciate the response.!

[2016-01-19 16:39] divx118 commented on #30
I assume this can be closed now. If the above didn't work then please reply here and I will reopen.

[2016-01-19 16:39] #30 closed

[2016-01-19 16:40] divx118 commented on #31
@robertstrom Thanks for the feedback that it worked.

[2016-01-19 16:40] #31 closed

[2016-01-19 16:42] #20 closed

[2016-01-24 19:17] santiagocartagena opened #32 "xd"

[2016-01-24 20:18] #32 closed

[2016-02-02 18:00] nigelhealy commented on #26
Virtualbox on 3.14 still broke.

Is there a guide, something I can read to allow me to find the cause and fix?

Where the newer notebooks are now, all will be eventually - broke!

[2016-02-02 18:46] nigelhealy commented on #26
News!

There is a ChromeOS update hit us yesterday (Feb 1 update?) and when you follow the Crouton Virtualbox install guide it now works!

In case others with the same bug not lucky this is what I did:

`
In ChromeOS, follow the guide again to change the flags again, as the kernel is update.
In your Chroot, edit /etc/rc.local and either delete the added lines or comment out the modprobe lines.
Del

[2016-02-02 18:59] divx118 commented on #26
@nigelhealy Great, what channel are you on dev, beta or stable?

[2016-02-02 19:08] nigelhealy commented on #26
Stable

Version 48.0.2564.92 (64-bit)
Platform 7647.73.0 (Official Build) stable-channel gandof
Firmware Google_Gandof.6301.155.9

Your device is up to date.

[2016-02-02 21:29] skiman6010 commented on #26
I can personally confirm virtualbox is working on the 2015 Pixel now.

Stable

**Version 48.0.2564.92 (64-bit)
Platform 7647.73.0 (Official Build) stable-channel samus
Firmware Google_Samus.6300.174.0**

[2016-02-05 00:03] shounak-de commented on #15
Is this still open? I think this bit me when trying the restore a few days ago:
`sudo sh ~/Downloads/change-kernel-flags -r`
I got a OS missing or damaged (ctrl-d did not work)
I eventually had to do a full restore via USB from another computer

My chromebook was a toshiba chromebook2 (swanky)

[2016-02-06 17:40] Polygon-6789 opened #33 "SSL Certificate not Working"
The SSL Certificates included with the script to download the headers do not work. It prevents the headers from downloading and I can't seem to find a way around it, here's some of the errors:

Err https://raw.github.com 3.10.18/main amd64 Packages
  server certificate verification failed. CAfile: /etc/ssl/certs/ca-certificates.crt CRLfile: none
Hit http://archive.ubuntu.com trusty-security/main S

[2016-02-06 19:17] divx118 commented on #33
@Polygon-6789 Please give me post the full output from when you are starting the script on pastebin.com or gist then post the link here. Thanks

[2016-02-06 20:39] czenzel commented on #26
@skiman6010 @divx118 @nigelhealy  I'll give it a try today and report back as well on my Pixel 2015. I have been doing a lot of work on my other machine but this weekend I should have a chance to jump on the Pixel and give it a try. :smile:

[2016-02-06 22:29] czenzel commented on #26
I think we can close this issue @divx118. I have installed Windows 10 Enterprise with the latest VirtualBox and updates for Ubuntu 14.10 and Chromebook Pixel 2015. If nobody else has any issues you can close it.

[2016-02-07 08:09] divx118 commented on #26
Thanks everyone. I will close this, still curious what caused it. I see if I can find something in the kernel commits from chromeos.

[2016-02-08 12:06] divx118 commented on #15
Well this specific issue shouldn't cause that. It could be that you restored an older kernel from previous chromeos updates. I need to add a warning for that. However normally if the restored kernel is failing to boot it will switch to the other kernel. So this is a bit strange, but not impossible that you indeed need to restore with USB. It will always be a bit risky, I will take another look at

[2016-02-08 20:17] shounak-de commented on #15
@divx118 You are right, it may not be related.

BTW, I do not think it was an older kernel though that caused the issue: Here are the steps that caused it to bork:

[1] On clean dev mode with one chroot env installed, (but not active/running) I ran:
`sudo sh ~/Downloads/change-kernel-flags`

[2] I did not run `sudo sh setup-headers.sh` at all: I realized that after changing the kernel flags, the g

[2016-02-09 05:32] divx118 commented on #15
No, changing the kernel flags to allow module loading wouldn't interfere with any other chromeos features like google voice.

[2016-02-28 14:39] pankajmore opened #34 "Unable to load virtualbox modules"
Hi,

I have followed the steps exactly as mentioned in README.md . I have a 64 bit debian sid chroot.

When I do , $ sudo modprove vboxdrv
modprobe: FATAL: Module vboxdrv not found in directory /lib/modules/3.8.11

The only difference in my setup is that I am using the debian package for virtualbox instead of the one on the website. I was not able to install the .deb package on debian sid. Do you

[2016-03-12 03:45] richard-fisher commented on #26
The problem is still there if you are on the beta channel. Going back to stable resolves it. Whatever the change hopefully it doesn't get merged into stable.

[2016-03-12 10:02] divx118 commented on #26
@richard-fisher Thanks for reporting, I take a look at the latest commits of the kernel. See if we can find something.

[2016-03-29 22:30] stumitchell commented on #26
I seem to be getting the same problem on

Version 49.0.2623.95 (64-bit)
Platform 7834.60.0 (Official Build) stable-channel samus
Firmware Google_Samus.6300.174.0

when I try and install virtualbox-dkms

[code]

[2016-03-29 23:16] nigelhealy commented on #26
Virtualbox is bust again. This time it is not a kernel panic.

Dmesg:

[73831.963736] Chromium OS LSM: init_module locking-ignored obj="/lib/modules/3.14.0/updates/dkms/vboxdrv.ko" pid=18146 cmdline="modprobe vboxdrv"
[73831.969528] vboxdrv: Found 4 processor cores
[73831.969818] supdrvGipCreate: failed to allocate the GIP page. rc=-26

I can't make it go away. I done Crouton update, then in chroo

[2016-03-30 15:30] divx118 commented on #26
@nigelhealy Hmm looks like we just need new kernel headers for 3.14. I will update them later this week. Thanks for reporting.

[2016-03-30 16:23] nigelhealy commented on #26
@divx118  are you going to update for current stable or future beta? Different messages.

[2016-03-31 17:26] nigelhealy commented on #26
@divx118 is it worth testing yet? Let us know when you updated headers. Also are you going to update for stable, beta or both? It is different errors between stable and beta.

Also, post how we update, re-run setup-headers.sh in the chroot?

[2016-03-31 19:03] divx118 commented on #26
Not yet, when I have them updated I will post it here. You can then just update them with entering the following on a chroot command line. `sudo apt-get update && sudo apt-get upgrade`

[2016-04-02 14:48] divx118 commented on #26
@nigelhealy Just updated the kernel headers for 3.14.0 on the repo https://github.com/divx118/crouton-packages/commit/27788281d9f3d2347622bed6f6e8f7d245f2b6bf

I always build the kernel headers with the newest source and latest commits available at the time of building. This normally goes well for all channels dev, beta or stable. Building them for all different channels  available would require a

[2016-04-02 17:39] nigelhealy commented on #26
Still not working. Last line of dmesg below which I can see isn't that descriptive

Chromium OS LSM: init_module denied obj="/lib/modules/3.14.0/updates/dkms/vboxdrv.ko" pid=23109 cmdline="/sbin/modprobe vboxdrv"

[2016-04-02 18:25] nigelhealy commented on #26
I've tried to a few things to try to fix this myself but it's still a problem of details of versions mismatch. The same type of message if you look of lacking the "preempt" kernel setting?

I was on beta channel, as an attempt to make the problem go away, which it didnt, and got this message, so I powerwashed back to stable and got the message. I deleted the chroot and restored from a "last all wo

[2016-04-02 21:03] divx118 commented on #26
@nigelhealy You are sure the vbox kernel modules are recompiled with the new kernel headers installed?
If you have installed virtualbox package from the oracle site, you can just run `sudo /etc/init.d/vboxdrv setup` When installed virtualbox from the ubuntu repo, I need to check how to recompile them. It has no `/etc/init.d/vboxdrv` script.
The warning about updating the kernel is normal and no pr

[2016-04-02 21:23] nigelhealy commented on #26
That's not the problem. I have rebuilt the modules. I have even deleted the modules and rebuilt and same error. I'd also attempted to uninstall and install virtualbox-5.0

i.e. if I sudo rm /lib/modules/3.14.0/updates/dkms/vbox*
then do the sudo /etc/init.d/vboxdrv setup
It shows it doesn't like me having manually deleted the modules but recompiles them and the same error.

(trusty)nigel@localhost

[2016-04-03 08:22] divx118 commented on #26
@nigelhealy I just wanted to be sure, thanks for the info. I will take a look at it, however without having a chromebook with 3.14.0 it is hard to do.

[2016-04-03 18:01] nigelhealy commented on #26
I'm still trying to figure it out myself. Is there are a way to force the correct MAKE compile string? It say exec format error and magic version don't match if I force it to ignore it still doesn't get loaded.

I am building a fresh chroot but as I don't have the space on my Toshiba Chromebook2 16GB internal for 2nd chroot I'm building on SD card which has failed, reattempting, I will then attemp

[2016-04-03 18:03] divx118 commented on #26
@nigelhealy I just updated the kernel headers for 3.14.0 with CONFIG_PREEMPT disabled. I hope this fixes the issue.

[2016-04-03 18:18] nigelhealy commented on #26
I'll attempt to update. Currently still installing a chroot on SD it may be while apt-get update failed due to /lib is in readonly filesystem. Will report back "soon"

[2016-04-03 18:24] divx118 commented on #26
@nigelhealy It could be that the bindmount /lib/modules is still in place. crouton creates the bindmount when starting a chroot. I umount it in /etc/rc.local. So `sudo umount /lib/modules` on a chroot command line should remove the bindmount and make /lib writable.

[2016-04-03 19:01] nigelhealy commented on #26
It is working now. Thanks.

My VM seems slower than before but that could just be the powerwash removing my performance tweaks.

dmesg|grep vbox

[   66.527511] Chromium OS LSM: init_module locking-ignored obj="/lib/modules/3.14.0/updates/dkms/vboxdrv.ko" pid=15436 cmdline="modprobe vboxdrv"
[   66.535612] vboxdrv: Found 4 processor cores
[   66.552463] vboxdrv: TSC mode is Invariant, tentative fr

[2016-04-03 19:07] divx118 commented on #26
Nice, thanks for the detailed error messages. That helps a lot with troubleshooting. Also maybe better to open another issue for that. Since this is the one for the kernel panic.

[2016-04-03 19:07] #26 closed

[2016-04-23 07:23] rumpaar1 opened #35 "Cannot install kernal modules"
HP Chromebook 14 (x86)

I started with running the change-kernel-flags script in crosh, rebooted, then running the setup-headers.sh on the chroot. I then rebooted again and installed virtualbox. However the 'Recompiling kernel modules' part of the setup failed and virtualbox would not run any vm's. I looked at the logs and realized that gcc was not installed. I installed gcc and ran the /sbin/rcvb

[2016-05-01 06:34] divx118 commented on #35
I updated the [3.8.11 kernel headers](https://github.com/divx118/crouton-packages/commit/1a0681038c6930b22b8eaf3348f190caa776aa88) and it should be fixed now. Just follow the steps in the [README.md](https://github.com/divx118/crouton-packages/blob/master/README.md) again and it should work now.

[2016-05-01 14:33] laurenweinstein1 commented on #35
Update/upgrade and modules recompile OK, but no luck getting the drivers loaded. When I start the chroot, there is a flash of an unusual and quite long error message that I've been unable to read yet. The chroot does start afterwards, but the vb drivers are not loaded. Thanks.

[2016-05-01 15:28] divx118 commented on #35
@laurenweinstein1 I think you somehow messed up your rc.local. Just follow steps below.

[code]

After exit enter your chroot normally.
If this doesn't help, then try loading the modules from the command line in the chroot and see if that produces some errors.
[code]

[2016-05-01 15:38] laurenweinstein1 commented on #35
Even though the modules compiles threw no errors, modprobe is reporting not
found for them. Here's the load code from my rc.local. Thanks.

# Module ops for VirtualBox (Lauren: 4/11/15)
# umount bindmounts /lib/modules from enter-chroot
for m in `cat /proc/mounts | /usr/bin/cut -d ' ' -f2 | grep /lib/modules|
grep!
umount "$m"
done
# try to load vboxdrv modules
if [ `find /lib/modules/"\`uname -r\

[2016-05-02 06:32] divx118 commented on #35
Hmm it looks ok, however I am afraid `/lib/modules` wasn't unmounted when you recompiled the modules, or isn't unmounted when you trying to load the modules.
Problem is crouton does a bindmount on /lib/modules from chromeos on /lib/modules in the chroot. This will make /lib/modules readonly, that is why we need to unmount it when installing kernel headers or compiling the modules and when loading

[2016-05-02 15:36] laurenweinstein1 commented on #35
The mount check shows /lib/modules to already be unloaded. The new
compilation of the modules (after its usual dkms warnings fails with:
Chromium OS LSM: init_module denied
module="/lib/modules/3.8.11/misc/vboxdrv.ko" pid=19147
cmdline="/sbin/modprobe vboxdrv"

On Sun, May 1, 2016 at 11:32 PM, Maurice van Kruchten <
notifications@github.com> wrote:

[2016-05-02 17:37] divx118 commented on #35
Ah ok then all you have to do now is run the `change-kernel-flags` script again. You get that error when module_locking is not turned off. The change-kernel-flags script takes care of that. You have to do it after every chromeos update.

[2016-05-02 17:58] laurenweinstein1 commented on #35
That's it -- back in business. I have a script I normally run after each
CrOS update to put all that back in place, but I hadn't run it again since
this current header situation popped up. THANKS!

L

On Mon, May 2, 2016 at 10:37 AM, Maurice van Kruchten <
notifications@github.com> wrote:

[2016-05-02 18:01] divx118 commented on #35
Great, going to close this now.

[2016-05-02 18:01] #35 closed

[2016-05-23 04:20] nigelhealy opened #36 "vboxdrv: version magic '3.14.0 SMP mod_unload ' should be '3.14.0 SMP preempt mod_unload '"
This is a resurgenc of a problem which was fixed weeks ago. Modprobe fails. Even if use --force.

You updated the headers then so need to do it again? You said

vboxdrv: version magic '3.14.0 SMP mod_unload ' should be '3.14.0 SMP preempt mod_unload '

[code]

[2016-05-23 17:15] divx118 commented on #36
@nigelhealy Yep, looks like we need to build new modules with CONFIG_PREEMPT enabled now. Thanks for reporting I will update them this week.

[2016-05-30 15:54] divx118 commented on #36
@nigelhealy
Sorry for being a bit late, but headers are updated https://github.com/divx118/crouton-packages/commit/c621867a48a2b8613998fdb08dcc7c40486e075c Let me know if there are any problems.

[2016-05-30 19:23] jehartzog commented on #36
Thank you for updating them! I am running 3.14 and the install was failing for me last week, is working now. Now I have VirtualBox up and running on my chromebook, thanks again!

[2016-05-30 20:36] nigelhealy commented on #36
It's working.

I appreciate @divx118 effort on maintaining but I'd like to be able to fix these problems for myself faster, because Chromebook decides when it will update and break Virtualbox, and to wait a week can be an issue sometimes.

Is the howto guide upto date and includes how you edit to have CONFIG_PREEMPT enabled? I could guess edit some configuration file.

[2016-05-31 15:44] divx118 commented on #36
@nigelhealy The guide is up to date. No config changed the last time, because  CONFIG_PREEMPT  is enabled by default in the chromeos kernel config. The problem was the last time that the installed kernel is always behind the branch of your kernel. Normally this is no big deal only in cases when they change/add a config that influences the kernel behavior. Such as the enabling of the CONFIG_PREEMPT

[2016-06-01 02:14] seedifferently commented on #36
@divx118 thank you for continuing to support this project. The latest revision worked for me on my Chromebook Pixel 2.

[2016-06-02 20:24] divx118 commented on #36
Thanks all for reporting back.

[2016-06-02 20:24] #36 closed

[2016-06-10 15:12] category opened #37 "chromeos restarts when starting vm"
I've installed virtualbox according to the readme, however when I set up an arch machine and press start chromeos just reboots - am I missing something?﻿

[2016-06-10 16:28] divx118 commented on #37
@category How did you set the virtual network device? bridged?

[2016-06-12 10:55] nmilosev opened #38 "Crouton Fedora support"
Hey @divx118 this isn't really an issue, just wanted to thank you for packaging these packages, and to let you know that they are working perfectly on my fork of Crouton for Fedora. I've managed to install VirtualBox 5.0 and even Docker (with docker-machine) fairly easily.

I wrote a few blog posts about how it can be done, which could be interesting for other people trying to do the same thing:

[2016-06-12 15:09] divx118 commented on #38
@nmilosev Yes, known issue with the network adapter setting causing a reboot. If I have some time I will look into it, however I am afraid it will need our own build kernel to solve it. Which would be better then to use legacy boot for example from a SD card or USB stick.

BTW thanks for the blog posts and continuing the work on fedora. Sadly as you may have noticed it will be a real pain to get i

[2016-06-12 18:20] nmilosev commented on #38
Yes, Fedora is gonna be hard to merge fully. It's fine as it is for now though, I think. :)

Thanks again for your work, it was really helpful.

Cheers!

[2016-06-19 05:18] Pitey opened #39 "Installing Virtualbox - wrong kernel version after building headers?"
I'm trying to install Virtualbox on my Acer Chromebook R11
[code]

i cloned the source for 3.18 and followed the steps in the Build kernel headers and install Virtualbox wiki page.
everything went successful, but the kernel and image files are named like this:
[code]

So, the version appendix is 12453 instead of 12438

I think this leads to the following error, when trying to install the virtualbo

[2016-06-20 16:58] thimble4209 opened #40 "package linux-headers-3.14.0, linux-image-3.14.0 ?"
When attempting to install packages with setup-headers.sh:

[code]
Virtualbox will not work, instead will it encounter an error relating to 3.14.0 kernel headers. I assume this means that they have not been installed.

I don't know how any of this works, so forgive me if it's my fault.

[2016-06-20 19:27] divx118 commented on #40
Could you please post the complete output when running `sudo sh setup-headers.sh` They are indeed not installed, so Virtualbox will not work.

[2016-06-20 19:34] thimble4209 commented on #40
[code]

[2016-06-20 19:41] divx118 commented on #40
Ok, looks like there is something with the 3.14.0 header package. I need to rebuild them. This however will not be before the weekend.

[2016-06-20 19:47] thimble4209 commented on #40
Understood. Thanks for the help, I appreciate it.

[2016-06-21 07:53] akabaka74 commented on #40
i think i get the same problem for 3.8.11:
[code]

[2016-06-22 16:02] #39 closed

[2016-06-24 17:49] jfeise commented on #40
The problem seems to exist with all header packages.
For testing, I added lines for all header packages in /etc/apt/sources.list.d/crouton-packages.list:
deb https://raw.githubusercontent.com/divx118/crouton-packages/master 3.14.0 main
deb https://raw.githubusercontent.com/divx118/crouton-packages/master 3.10.18 main
deb https://raw.githubusercontent.com/divx118/crouton-packages/master 3.8.11 main

[2016-06-24 19:50] divx118 commented on #40
Yes, it is the github raw link that has changed. I need to adjust the repo including the new github link..

[2016-07-03 17:51] alexluecke commented on #40
+1 for 3.14 kernel support

[2016-07-11 09:53] TTwoONEsiXX opened #41 "vboxdrv setup errors"
Good Day!
I followed the great directions carefully, but I am running into issues, I believe, getting the vboxdrv modules to load.  I receive the following errors:

(TestChroot)hami@localhost:~$ sudo /etc/init.d/vboxdrv setup
[sudo] password for hami:
Stopping VirtualBox kernel modules ...done.
Recompiling VirtualBox kernel modules ...failed!
  (Look at /var/log/vbox-install.log to find out what w

[2016-07-13 19:04] laurenweinstein1 commented on #40
Same problem here currently on 3.8.11.

[2016-07-20 10:12] sokanli commented on #40
Still getting this problem on 3.14.0.

[2016-07-20 10:16] sokanli commented on #40
same issue on 3.14.0

[2016-07-23 15:40] anonby opened #42 "Need to update crouton-packages"
I'm trying all of the suggested threads regarding updating the crouton packages in order to install vbox.

i followed these directions and it is does not support the ver i am using.

https://github.com/divx118/crouton-packages

This is what it shows...
Your kernel version 3.18.0-11125-g013294a with architecture amd64 is not supported

[2016-07-23 15:41] forrestgit commented on #40
Hi Divx118, any update for the new repo?

[2016-07-23 15:41] anonby commented on #42
is there a package for that version?  is it possible for me to make it like the others?

name: trusty
encrypted: no
Entering /mnt/stateful_partition/crouton/chroots/trusty...
crouton: version 1-20160715134041~master:0dc76a22
release: trusty
architecture: amd64
xmethod: xorg
targets: unity
host: version 8172.60.0 (Official Build) stable-channel edgar
kernel: Linux localhost 3.18.0-11125-g013294a #1

[2016-07-24 01:37] oboff commented on #40
workaround is to just download .deb files from the appropriate /pool/main/l folder in the github repo.

[2016-07-24 01:50] anonby commented on #40
What about for 3.18.0????

[2016-07-24 01:55] anonby commented on #40
I can't find the right .deb for 3.18.0

[2016-07-24 02:01] forrestgit commented on #40
Yes,I just did it. Vbox works perfectly. Thanks a lot

[2016-07-24 11:06] anonby commented on #40
What version did you try it with

[2016-07-24 11:25] forrestgit commented on #40
3.8.11, also I tried docket machine after that and docker it works ok  with nat . My chromebook is Hp 14.  New to chrome os, but a lot fun thanks to crouton!

[2016-07-24 11:32] anonby commented on #40
It appears to work for 3.8.11, 3.4.0, and 3.10.18. it says unsupported for 3.18.0

[2016-07-24 19:25] sammcveety commented on #40
@oboff to confirm, you're suggesting downloading the .deb files and running dpkg -i?  It looks like there aren't .deb files for i386/3.14.0.

Is there a workaround for i386/3.14.0?

[2016-07-25 03:35] oboff commented on #40
@sammcveety you are right, appears that only amd64 deb files exist. sorry.

[2016-07-25 16:13] sammcveety commented on #40
@Divx118 any recommendations for i386/3.14.0?

[2016-07-25 17:02] divx118 commented on #40
Sorry guys a bit too busy it will take some time to update the repo hope you all have some patience. Indeed the current workaround is downloading directly the deb files.
@sammcveety AFAIK there shouldn't be any chromeos device with i386 on kernel 3.14.0 all are 64bit. Are you using a special  build? If you want it to use on a i386 chroot with a 64bit kernel then you will run into problems. You sti

[2016-07-28 18:52] harryman100 opened #43 "Issue with vbox modules on 3.14.0"
Following running the setup-headers.sh script in a chroot - the vbox modules are not present in the /lib/modules/3.14.0 directory - this causes the rc.local script to fail.

This is on a Chromebook Pixel 2015 (i7), Chromeos Version 52.0.2743.85 (64-bit), ubuntu precise chroot

[2016-08-02 01:16] goldenforever commented on #40
Hey, think there's still one that's not happening

[code]

[2016-08-02 16:26] divx118 commented on #40
@goldenforever Yes, it is still broken, currently I just don't have the time to fix it. You can update your chroot like normal when you remove  `/etc/apt/sources.list.d/crouton-packages.list`
When you want to install the kernel headers just download the *.deb files from this repo directly and install them manually. Or build your own https://github.com/dnschneid/crouton/wiki/Build-kernel-headers-an

[2016-08-13 22:08] ximsce opened #44 "no make_dev_ssd.sh script on chromebook pixel"
Hi,
Trying to run change-kernel-flags on a chromebook pixel (kernel 3.14, xenial chroot) results in:

/usr/share/vboot/bin/make_dev_ssd.sh: not found
make_dev_ssd.sh --save_config Failed

am I missing a vboot package?  I installed vboot-kernel-utils and vboot-utils, but those didn't help.

Thanks!

[2016-08-14 09:37] divx118 commented on #44
You should run it in a crosh shell and not inside the chroot.

[2016-08-14 19:51] ximsce commented on #44
Oh, the set of instructions I was following said all the commands were in the chroot.  Obviously, that didn't apply to this part...  It would be cool if there were a way to denote in shell commands which type you are supposed to be in.

Thank you for pointing me in the right direction!

[2016-08-14 19:51] #44 closed

[2016-08-18 07:58] divx118 commented on #44
Well it is mentioned in the readme ;) There should be however a way to detect in which shell you are in. As soon as I have some time I will update the script to spit out a warning to point in the right direction.

[2016-08-19 00:03] davidradkowski opened #45 "Pixel 2015: unable to modprobe vboxdrv"
Retried few times already, to no avail :(

Every single time I get following error in dmesg:

supdrvGipCreate: failed to allocate the GIP page. rc=-26

[2016-08-20 13:02] pigeonflight commented on #40
It seems the bad header line is related to headers served by github
see: https://github.com/XavierBerger/RPi-Monitor-deb/issues/8#issuecomment-239745218

I'm currently experimenting with using a CDN to serve the repo https://rawgit.com/ (just an educated guess that it will strip the headers).

[2016-08-20 13:31] pigeonflight commented on #45
Getting the same error on a Dell Chromebook 13
I'm on the developer channel.

Version 54.0.2830.0 dev (64-bit)
Platform 8714.0.0 (Official Build) dev-channel lulu
Firmware Google_Lulu.6301.136.57

[2016-08-25 17:46] The1andONLYdave opened #47 "May i request 3.18.0 amd64?"
May i request the vbox modules for 3.18.0-12612-g51e47a7  x86_64 too?

It's a HP Chromebook R11 with Firmware Google_Cyan.7287.57.64

[2016-08-30 21:57] brianhhu opened #48 "Can this script also change PPP kernel flag?"
Hi,

This is more of a question than an issue. I'm pretty new to the world of chromebooks and crouton. I would like to use a PPTP VPN with my crouton install, but the PPP kernel is not included with ChromeOS (see a similar issue here: https://github.com/dnschneid/crouton/issues/378). Can I use your script to add the PPP kernel to my system, or does it only work for adding the necessary modules nee

[2016-09-16 03:14] forrestgit commented on #45
me too

[2016-09-16 12:11] jamebus commented on #45
Looks like the kernel ABI has changed and we'll need new header packages.

[2016-09-16 23:46] marvinharcsun opened #50 "My kernel header is missing from the repo where else should I look? 3.18 EDGAR"
uname -r

 3.18.0-12632-g42a6df4

What Im getting is really close with
git checkout HEAD~411

3.18.0-12632-XXXXXXXX

but still not the correct one is it okay to use this one or should I look into kernel-next

[2016-09-17 00:21] marvinharcsun opened #51 "My kernel header is missing from the repo where else should I look? 3.18 EDGAR"
uname -r

 3.18.0-12632-g42a6df4

What Im getting is really close with
git checkout HEAD~411

3.18.0-12632-XXXXXXXX

but still not the correct one is it okay to use this one or should I look into kernel-next

net/Kconfig:373:warning: environment variable WIFIVERSION undefined
3.18.0-12632-g7696814
(xenial)marvin@localhost:~/kernel$ uname -r
3.18.0-12632-g42a6df4
(xenial)marvin@localhost:~/kernel$

[2016-09-19 12:15] ferdbold commented on #45
I'm having issues as well on a Dell Chromebook 13. Retried a few times with various targets (`xfce`, `kde`, `gnome`) to no avail.

[code]

[2016-09-19 13:38] 1na opened #52 "virtualbox will not start after upgrade of chromeos"
Hi after an upgrade of  Chromeos, I cannot set up virtual box. Please help.

I am on
[code]
I have rerun sudo sh ~/Downloads/change-kernel-flags and setup-headers.sh.

There was an error for a bad header, but otherwise the output was fine, see below

[code]

However when I want to start the chroot I get this warning

[code]

And indeed no virtual machines will start.

Rerunning the script as sugge

[2016-09-23 18:33] DoctorEll commented on #50
Instead of HEAD~ you can just checkout by using the uname -r result.

i.e.

`$ git checkout 3.18.0-12632-g42a6df4`

[2016-10-01 19:37] mwhipple commented on #52
The relevant output in dmesg would likely start with `vboxdrv`, would be near the end, and would be repeated one time for each failed invocation.

It looks like you're hitting this: https://github.com/divx118/crouton-packages/issues/40 so integrating https://github.com/divx118/crouton-packages/pull/46 may help you past your immediate issue.

[2016-10-02 04:50] czenzel commented on #45
+1

[2016-10-02 16:08] 1na commented on #52
Thanks I will try that and post the result here.

[2016-10-03 20:56] IronWolfMC opened #53 "Bad Header Line (3.10.18)"
Upon running the setup-headers.sh script after changing kernel flags, apt-get is unable to load crouton-packages.

[code]

[code]

[2016-10-04 01:06] IronWolfMC commented on #53
I'm silly. See #40 for a potential fix.

[2016-10-04 01:06] #53 closed

[2016-10-05 21:44] Pdbrantley commented on #45
Hey, I'm here from #2793. I was actually having this same problem a few months ago on this same machine (Pixel 2015). I was on the dev channel at that point, so I could get the Play store. I ended up swapping back to the stable channel and reinstalling my chroot. After that, everything worked as expected and I was able to compile and install the headers and setup Virtualbox no problem. Now, I've u

[2016-10-11 03:44] Pdbrantley commented on #45
I just did a powerwash and installed a fresh chroot, and I'm having the same problem.

crouton: version 1-20161010184059~master:0e57cac4
release: trusty
architecture: amd64
xmethod: xorg
targets: audio,core,cli-extra,extension,keyboard,x11,touch,xorg,gnome-desktop
host: version 8530.93.0 (Official Build) stable-channel samus
kernel: Linux localhost 3.14.0 #1 SMP PREEMPT Mon Sep 26 14:47:33 PDT 201

[2016-10-11 11:50] Pdbrantley commented on #52
The custom repos are failing to update:

I'm not familiar with the script, but I assume this is where the compiled .deb image and header files are coming from. You'll need to either find a copy of these files appropriate for your setup. Probably here: [divx118/crouton-packages/tree/master/dists/3.8.11](https://github.com/divx118/crouton-packages/tree/master/dists/3.8.11)

Or probably better, compi

[2016-10-11 11:54] Pdbrantley commented on #43
May be related to #52

[2016-10-11 11:56] Pdbrantley commented on #41
Do you have the latest compiled kernel headers?

[2016-10-11 12:04] Pdbrantley commented on #45
From dmesg above

I really think this has something to with SELinux as I described in my first comment. Is there a way to totally disable SELinux so I could test this?

[2016-10-11 16:22] drinkcat commented on #45
The line in dmesg says `permissive=1`, so nothing was actually blocked.

One thing that could have happened is that, for ARC++ support, the 3.14 kernel has changed quite a bit (new config options, possibly some ABI changes).

[2016-10-11 20:50] Pdbrantley commented on #45
@drinkcat Any idea how I might confirm this?

[2016-10-12 15:07] drinkcat commented on #45
Huh, I just noticed that the earlier reports are on lulu R53/54, which clearly does not have ARC++... So I'm pretty sure this has nothing to do with SELinux.

So, I'm still not clear what broke, but generate new Linux kernel header files seems to be the right thing to try, first (I'm actually not sure how @divx118 did that).

If that still fail, you could try to bisect the kernel, I can provide in

[2016-10-12 19:09] divx118 commented on #45
Sorry guys, been too occupied lately. I indeed think new kernel headers are the way to go. However if you follow the guide in the wiki you will build from the latest kernel source which can get you into problems as some new changes are in the kernel source that aren't in the released kernels for dev, beta or stable. So you probably need to checkout the kernel at an earlier time and then build the

[2016-10-12 19:24] drinkcat commented on #45
Channels, not really, but each release (e.g. 53), has it's own branch in the repo, e.g.: https://chromium.googlesource.com/chromiumos/third_party/kernel/+/release-R53-8530.B-chromeos-3.14

[2016-10-12 19:44] divx118 commented on #45
@drinkcat Ah ok, should be good enough. Thanks. @Pdbrantley try building the kernel headers with the above mentioned branch, that should be the right one for your kernel.

[2016-10-12 19:45] Pdbrantley commented on #45
@divx118 Thanks! I'll try as soon as I get off work this evening. Will update with results.

[2016-10-12 20:25] toxic0berliner opened #54 "Unable to install : bad header in repo"
Hello,

I had a working install of ubuntu and virtualbox.
After several updates of chrome os without using my chroot, I needed to use my windows vm today.
I did the change-kernel flags thing in crosh
I then tried the setup thing in the chroot
and that's where it fails : apt-get update is not working...

As of now, I'm still unable to start my existing VM since virtualbox complans about the drivers

[2016-10-13 03:29] Pdbrantley commented on #45
No Luck! Recompiled from the reccomended source. Still getting the same error.

Here is dmesg:

[dmesg.txt](https://github.com/divx118/crouton-packages/files/526117/dmesg.txt)

I'll try to update with more info tomorrow morning.

[2016-10-13 04:21] drinkcat commented on #45
Trying to figure out what's going on in Virtualbox source code (`/var/lib/dkms/virtualbox/4.3.36/source/vboxdrv`):

`supdrvGipCreate: failed to allocate the GIP page. rc=-26`

=> errno 26 is ETXTBSY (that's an extremely uncommon error code...)

Due to this call failing:
[code]
(which then calls many Linux kernel functions)

But, back to the `ETXTBSY` error, it most likely comes from `include/linux

[2016-10-13 07:19] kdavh commented on #45
I'm in the same boat as @Pdbrantley .  Virtualbox broke for me on updating to Chrome OS v53  on Pixel 2015.  I'm not familiar enough with linux kernels etc, so I'm glad you all are looking into it.

[2016-10-17 05:58] robertoandrade commented on #26
I'm not clear on what solved the issue here, I'm also getting the same:

[code]

After following https://github.com/dnschneid/crouton/wiki/Build-kernel-headers-and-install-Virtualbox-(x86)

What was it that you did that finally made it work @nigelhealy ?

[2016-10-17 06:23] nigelhealy commented on #26
I just ended up following the build the kernel oneself guiide. I had to modify a few files as per the guide. I could not get cross-compiling to work so I just left it slow on the Chromebook,

My need for VMs reduced as apps get more supported in ChromeOS and so my need to build is less.

[2016-10-17 10:08] divx118 commented on #26
@nigelhealy You don't have to crosscompile. Just a regular linux 64 bit pc should do. Crosscompiling is only for when you have an arm chromebook.

[2016-10-17 20:56] Pdbrantley commented on #45
@drinkcat Sorry, I've been busy and haven't had much time to devote to this lately. I really appreciate all of your help.

To answer your question, yes it did work. Right up to the point when the play store was brought to the stable channel. I'm assuming R53.

Unfortunately we have gotten a little out of my depth, but with that being said, I'm willing to put in the time and effort to get this work

[2016-10-18 01:29] drinkcat commented on #45
You need to find a way to rebuild vboxdrv kernel driver from source, and add some `printk("XYZ")` at various places in the code (which will then show up in `dmesg`), until we understand exactly which call is failing.

One should bisect the kernel itself, not the headers (by rebuilding it using a Chromium OS SDK chroot). It only takes log(number of commits) to do. The idea is that you start from a

[2016-10-18 19:57] #22 closed

[2016-10-24 19:11] sclaughl commented on #45
I'm in the same boat -- upgraded Chrome OS on my pixel and am now unable to run virtualbox. I tried using the crouton-packages/README.md approach, and when that failed I followed the more involved  instructions at "Build kernel headers and install Virtualbox (x86)" from the crouton wiki. I took care to use the chromeos-3.14 branch of the kernel repo (since my chrome os is running 3.14.0). At any r

[2016-10-26 00:15] sudonotpseudo commented on #54
I currently have the same issue as OP.

[2016-10-26 01:12] sudonotpseudo opened #55 "3.8.11 Bad Header Line"
When I run the setup-headers.sh file in my chroot, I am presented with this error multiple times.

Err https://raw.githubusercontent.com 3.8.11/main amd64 Bad header line

Full Output:
(trusty)sudonotpseudo@localhost:~$ sudo sh setup-headers.sh
# This script will add the repo to your sources, download
and install the kernel headers appropriate to your
kernel version and architecture.
Reading packa

[2016-10-26 03:11] sudonotpseudo opened #56 "vboxdrv.sh: failed: modprobe vboxdrv failed."
After following the guide, I encounter the following error when running
`sudo /sbin/vboxconfig`

The following is the output from dmesg

[    0.000000] Initializing cgroup subsys cpu
[    0.000000] Linux version 3.8.11 (chrome-bot@build328-m2) (gcc version 4.9.x 20150123 (prerelease) (4.9.2_cos_gg_4.9.2-r141-fe767fbb6d580458aeea609ac5c82b600acce63d_4.9.2-r141) ) #1 SMP Mon Oct 17 21:49:19 PDT 2016

[2016-10-26 07:36] divx118 commented on #56
Ah this seems the same issue as on #45 lets track it there. I have a chromebook with 3.8.11 kernel so it should be possible for me to reproduce. For now I am closing this and we will track it in #45 if it turns out to be a different issue I will reopen this. Thanks for given the detailed output and sorry for the lack of time that I have that the repo here is still broken, because of the bad header

[2016-10-26 07:36] #56 closed

[2016-10-26 22:38] sudonotpseudo commented on #45
@divx118 Thanks, I will continue to follow here.

[2016-10-31 14:36] divx118 commented on #45
Ok, tested it on 3.8.11 kernel
[code]
and have the same issues loading vboxdrv.ko results in
[code]
This is with freshly build kernel headers on branch `release-R55-8872.B-chromeos-3.8` .
I will follow @drinkcat advice and see if I can add some printk to the driver source.

[2016-10-31 14:57] Pdbrantley commented on #45
I've been attempting to compile vbox and add in some printk as recommended, but have had issues compiling, well issues configuring actually. Specifically with libvpx and vpx.pc. I've attached configure.log if you run into the same problem or have a solution please let me know, otherwise I will keep working at it.

Also, just a quick note, I am compiling in my chroot.  Figured that would give it th

[2016-10-31 16:18] divx118 commented on #45
@Pdbrantley For building the module again, I just cd into `/var/lib/dkms/virtualbox/5.0.24/build/vboxdrv` and then use `sudo make vboxdrv` and to clean `sudo make clean` Not my choice building as root, but in this case, just for testing it is the easiest fastest way. The vboxdrv.ko will turn up in the same folder as where you build. So you can use in the same folder `sudo insmod ./vboxdrv.ko` For

[2016-11-01 20:00] peterboord commented on #55
I have same issue:
Err https://raw.githubusercontent.com 3.8.11/main amd64 Packages
  Bad header line
Err https://raw.githubusercontent.com 3.8.11/main i386 Packages
  Bad header line

[2016-11-01 20:13] divx118 commented on #45
@drinkcat @Pdbrantley
Ok, had a bit of time tonight and traced the failing call back to file `/var/lib/dkms/virtualbox/5.0.24/build/vboxdrv/r0drv/linux/memobj-r0drv-linux.c` replace 5.0.24 with whatever version you have. https://gist.github.com/divx118/eb237697872bf2a624bf21b27720d104 line 731 and 738 both fail with -26 . This is due to line 323 paPages = 0 and then return -26 on line 338

Still n

[2016-11-01 20:42] divx118 commented on #55
@peterboord As soon as we solve #45 I will make this work again.

[2016-11-10 01:51] drinkcat commented on #45
Had a quick look, and I have no clue... I think you'd need to start tracing into `__alloc_pages_nodemask` in `mm/page_alloc.c`. I'm also curious if vbox code sets `__GFP_REPEAT`.

[2016-11-13 16:59] MikeJewski opened #57 "Error "RTR3InitEx failed with rc=-1912 (rc=-1912)" when attempting to start Virtual Box"
I followed the guide from https://github.com/dnschneid/crouton/wiki/Build-kernel-headers-and-install-Virtualbox-(x86) , and everything was working correctly. That was until the last time that I started up my chroot, when my crosh printed "WARNING: /etc/rc.local failed with code 1", and now the vboxdrv modules are not loaded up when I start. I tried manually unmounting, and modprobing all of the mo

[2016-11-13 18:31] divx118 commented on #57
@MikeJewski You are probably running into https://github.com/divx118/crouton-packages/issues/45 can you please confirm getting `supdrvGipCreate: failed to allocate the GIP page. rc=-26` when loading the vboxdrv.ko? Use `dmesg` to see the error message. If so then we close this issue and keep tracking it in #45.

[2016-11-13 20:26] divx118 commented on #45
@drinkcat Didn't have much time yet to dive into it deeper. vbox code, only sets it when [cPages > 255](https://gist.github.com/divx118/eb237697872bf2a624bf21b27720d104#file-memobj-r0drv-linux-c-L301) cPages is 1, so __GFP_REPEAT is not used. I see if I have some time tracing `__alloc_pages_nodemask` in `mm/page_alloc.c`.

[2016-11-18 10:57] AndyRJay opened #58 "Error on setup-headers https://raw.githubusercontent.com/divx118/crouton-packages/master/dists/3.14.0/main/* bad header"
Trying to install the kernel heards

keep getting
Ign http://archive.ubuntu.com trusty/universe Translation-en_US
Fetched 4,882 kB in 8s (584 kB/s)
W: Failed to fetch https://raw.githubusercontent.com/divx118/crouton-packages/master/dists/3.14.0/main/binary-amd64/Packages  Bad header line

W: Failed to fetch https://raw.githubusercontent.com/divx118/crouton-packages/master/dists/3.14.0/main/binary

[2016-11-24 21:43] AndyRJay commented on #58
Resolved issue with alternative url's

[2016-11-24 21:43] #58 closed

[2016-12-05 01:49] REVOLTA809 commented on #26
@divx118 I am still getting errors

           `     (xenial)cloud@localhost:~$ virtualbox
    WARNING: The vboxdrv kernel module is not loaded. Either there is no module
     available for the current kernel (3.8.11) or it failed to
     load. Please recompile the kernel module and install it by

       sudo /sbin/rcvboxdrv setup

     You will not be able to start VMs until this problem is fixed

[2016-12-05 17:14] divx118 commented on #26
@REVOLTA809 Yes, serious problem see #45 it is tracked there.

[2016-12-10 18:10] greenmanspirit opened #59 "arm headers for 3.14"
I am trying to get a module built on arm 3.14 and it appears that the packages don't exist. Thank you ahead of time for looking at this.

[2016-12-23 16:42] Pdbrantley commented on #45
I haven't been able to donate much time to this, and it's pretty much over my head now anyway, but I wanted to post an update.

Just got a stable channel update. Installed and custom compiled new headers using my new release branch:
[https://chromium.googlesource.com/chromiumos/third_party/kernel/+/release-R55-8872.B-chromeos-3.14](https://chromium.googlesource.com/chromiumos/third_party/kernel/+/

[2016-12-23 17:43] divx118 commented on #45
I also have been to busy to investigate it further. However thanks for the update  @Pdbrantley

If someone is really desperate to run virtualbox, I suggest for the mean time enable legacy usb boot and use a fast sd-card or USB stick to install a regular linux distro on. I did it in the past with a fedora distro and it worked very well and fast. You just can't switch that easily to chromeos, but yo

[2016-12-23 17:45] kdavh commented on #45
Thanks for the update. Personally, I've resigned myself to a remote ssh
development setup on my Chromebook, which is working pretty well.

On Dec 23, 2016 08:42, "Pdbrantley" <notifications@github.com> wrote:

[2017-01-07 19:32] AilunP opened #60 "Dpkg-query error"
Hi,

I've installed the kernel header and image which were created using the guide 'Build Kernel headers and install virtualbox'.

I then tried installing virtualbox using the command line but failed with the message below saying 'no path found matching pattern /lib/modules/3.18.0-13436-g8b496ef/kernel.

Done.
dpkg-query: no path found matching pattern /lib/modules/3.18.0-13436-g8b496ef/kernel
vbo

[2017-01-08 08:59] divx118 commented on #60
Sorry, this repo is currently broken. See https://github.com/divx118/crouton-packages/issues/45 Also it will be a pain if that is fixed to keep the kernel headers up to date for 3.18.0 since they now use a subversion which is changed on every chrome update. To get the right subversion is also not that easy.

[2017-01-08 17:43] AilunP commented on #60
Ok thanks for the advice.

[2017-01-08 17:43] #60 closed

[2017-01-10 01:43] dimonic commented on #55
Any news on this? I just updated crouton precise on my Samsung Chromebook 2 - the keyboard was not working, and now the keyboard works but the mouse no longer works.

[2017-01-10 21:45] Pdbrantley commented on #45
Hey, I'm not really making any headway on this issue, and it doesn't look like anyone else is either. @divx118 That is a good suggestion to install ubuntu natively, but I really need to be able to switch quicker than that. I'm don't really care about having the Play store, actully I den't even have it enabled because it was making the cosh window really buggy.

So I was wondering if it would be po

[2017-01-10 22:40] AndyRJay commented on #45
You can use the Recovery tool, and create from local image file(click gear image)  to use a previous version. You just need the image file.

I think these are still active depending how far back you want to go , but don't guarantee they will work,

If you contact Pixel support they can give specific URL to the older images, you just have to stop it updating again.

https://dl.google.com/dl/edgedl/

[2017-01-11 19:05] Pdbrantley commented on #45
@AndyRJay Thanks for the links! How did you get those. I'm looking for Platform: 8172.47.0 (version 51). I tried just changing the url, but no dice. I emailed Google support and am waiting on a response form them, but I don't have high hopes. They were no help at all on the phone. I tried the links above, but were not able to flash them: "An unexpected error has occurred". I think maybe because th

[2017-01-11 20:27] AndyRJay commented on #45
Ooops forgot to say which model you got  ? 2015 one or the older one ?

I get the urls as I log them on my firewall. I would recommend blocking the download url / host so you can control when its safe to upgrade chrome until all parts available as it can be a pain in the a**.

I will see if I can find that download, tonight or tomorrow.

[2017-01-11 20:30] Pdbrantley commented on #45
@AndyRJay I have the 2015 model (SAMUS E25-H7R-W5L). You would be my hero if you could find that download. Thanks so much for your help!

[2017-01-11 20:44] AndyRJay commented on #45
You looked on here @Pdbrantley

https://productforums.google.com/forum/#!forum/chromebook-central

[2017-01-11 20:45] AndyRJay commented on #45
@Pdbrantley https://productforums.google.com/forum/#!topic/chromebook-central/ZLlLP_B1X40;context-place=topicsearchin/chromebook-central/introducing aka v51

[2017-01-11 20:50] Pdbrantley commented on #45
@AndyRJay Yeah, read through that post earlier, but doesn't contain any kind of download links for the bin file. Searched through the product forums and couldn't find anything, so I just started a new topic. Hoping to get some good replys.

[2017-01-11 21:15] Pdbrantley commented on #45
Happened to have a Google Apps reseller account. Contacted support through that, and they will absolutely not give out Chrome OS download links. So unless you or someone else in the community has the links saved looks like we are out of luck.

[2017-01-16 00:08] lyons88 opened #61 "Missing headers in arm 3.8.11"
I'm trying to build the Sheepnet.ko for BasikiskII, but your header package for arm seems to be missing quite a few header files for arm.

Among these so far

mach/memory.h
plat/irqs.h
types.h

I'm not sure if I build the headers myself if it will include them, I fallowed the guide https://github.com/dnschneid/crouton/wiki/Build-kernel-headers-and-install-Virtualbox-(x86), but when I issue the com

[2017-01-18 15:09] AndyRJay commented on #45
@Pdbrantley did some digging as I tend to keep recovery sticks just in case, they appear to have done some changes that create issues when trying to restore from a valid but older recovery stick, so post vierification it fails. I will see if I can see what they do and worse case I can send you and old recovery USB as I have a .51 on an old 4GB freecom stick

[2017-02-21 14:42] webwizardworks commented on #45
@divx118, I want to take a moment to thank you for the contribution you have given us. The ability to install VB is/was a miraculous bonus and worked so well. Thank you very much!

Given the challenges in getting this working again, is it likely we will see a stable and lasting solution or do we need to move on?

[2017-02-21 18:32] divx118 commented on #45
@webwizardworks I still want to take a look at it one more time, just to know what is causing this. However for using a virtualbox, I would suggest using legacy boot. I myself have now a dual boot system with galliumos (which under the hood is xubuntu). https://galliumos.org/ and installed virtualbox on there. I used the chrx method on my new acer chromebook 14 for work with intel i5 cpu and 64Gb

[2017-02-24 16:29] webwizardworks commented on #45
@divx118, I appreciate your comments and understand the ever changing kernel issue. I picked up another Chromebox for the sole purpose of setting up Linux/VB install, thanks for the galliumos info. Is 64gb big enough or are you also using an external drive?

[2017-02-24 17:20] divx118 commented on #45
@webwizardworks 64Gb is big enough for me. I used a 45Gb partition for the galliumos I must check how much is used, but I expect nothing over 4/5 Gb with all the programs I have installed. My virtualbox image should fit on it easily, but I used an external 16Gb SD-card for that, just to have some future  space for git clones building stuff etc.
On my virtualbox I have a bare windows 7, just to run

[2017-03-10 00:11] DovW commented on #45
I am multi-booting with Legacy boot (no kernel partitions - just vmlinuz in root boot directory) into Pixel 2015 (samus) Chrome OS copied on top of a very recent Chromium OS build 59 (kernel 4.4.44-07357-g1ff8560) on 2 partitions (ROOT and STATE) on a Dell Inspiron PC laptop and have Chrome OS and Ubuntu Trusty in crouton working well.

I followed the instructions to [Build kernel headers and inst

[2017-03-19 22:24] DovW commented on #45
Did not get anywhere with Virtualbox and so I switched to qemu and I was able to boot up Win 7 on Ubuntu in Crouton without needing to build any custom kernels.

Maybe that's an idea for those stuck with this Virtualbox bug...

[2017-03-20 08:17] divx118 commented on #45
@DovW thanks for the suggestion. Virtualbox is indeed a bit of a dead end currently on crouton. To get virtualbox working I recommend a dual boot like mentioned above  https://github.com/divx118/crouton-packages/issues/45#issuecomment-281434222
I will try qemu. Sounds interesting see how well that works.

[2017-03-20 14:09] DovW commented on #45
@divx118 I've got to admit that I'm very spoiled and I like hacked solutions - I'm not on a Chromebook at all - I'm on a quadcore core i5 PC with 8GB RAM and 1TB harddrive originally multibooting Win 10 and Ubuntu, on each of which I run VMs (including Mac OS) in virtualbox and VMware, but for initial bootup speed, UI experience and now Android integration my primary boot is Pixel 2015 Chrome OS o

[2017-03-21 16:14] DovW commented on #45
As an update, I am not sure whether my suggestion is very practical because from my understanding of this [issue](https://github.com/dnschneid/crouton/issues/189) in order for qemu to run reasonably there is a need for the KVM kernel modules.

In my case since I am anyway running on a multibooted PC and since because of my setup I anyway can't get automatic Chrome OS updates I got the KVM modules

[2017-03-21 16:42] webwizardworks commented on #45
@DovW I was anxious to give QEMU a try after reading your post. I install it, than converted my windows vdi file to a raw img. When I run the qemu command to run it, Windows pops up and I get the w10 flag, but it hangs there. Sometimes I get Error code: 0xc0000017 about not enough available memory to create a ramdisk device. Is this the results expected from a non-supporting kernel?

[2017-03-24 21:55] z3ntu commented on #45
Hello, I just wanted to ask if the current kernel header (for 3.14) packages are usable and functional for building other kernel modules?

[2017-03-25 11:25] divx118 commented on #45
@z3ntu I doubt it, they are quite old. Better to build new headers, or build the modules directly from the kernel 3.14 source. Of course you can try, also depends on which modules you want to build. If nothing or not much has changed in that section of the source then they still could work.

[2017-04-25 02:28] Nards78 opened #62 "Error: recipie for target 'drivers/gpu/drm/i915/i195.o' failed"
I am not sure what piece of this puzzle I am missing

I am at the **make-kpkg** position in the walkthrough, and I have found myself running into trouble when,
upon trying to compile the header,
this error is thrown

'**scripts/Makefile.build:440: recipe for target 'drivers/gpu/drm/i915/i915.o' failed**'

I have a 2013 Pixel, and I am compiling this header in exactly the same way as is proposed in

[2017-04-25 17:47] Jimster121 commented on #45
What is the latest version of chrome os which is still supported?

[2017-04-25 17:51] Pdbrantley commented on #45
@Jimster121 as far as I know it's R51.

[2017-04-26 11:37] Jimster121 commented on #45
Thank you, does this link have the correct image of chrome 51 os for the Asus c300? https://chromium.googlesource.com/chromiumos/third_party/kernel/+/release-R51-8172.B-chromeos-3.14

[2017-05-05 06:14] divx118 commented on #62
You are maybe missing an include file. Can you post the complete output on pastebin.com or gist, so I can take a look at the exact error message.

[2017-05-09 15:32] gauravsharma013 opened #63 "c720p same issue"
I have chrome book C720p and getting similar issue when i run virtual box command I get

The vboxdrv kernel module is not loaded. Either there is no module
         available for the current kernel (3.8.11) or it failed to
         load. Please recompile the kernel module and install it by

           sudo /sbin/vboxconfig

         You will not be able to start VMs until this problem is fixed.

A

[2017-05-09 15:34] gauravsharma013 commented on #45
I have chrome book C720p and getting similar issue when i run 'virtualbox' command I get

The vboxdrv kernel module is not loaded. Either there is no module
available for the current kernel (3.8.11) or it failed to
load. Please recompile the kernel module and install it by

       sudo /sbin/vboxconfig

     You will not be able to start VMs until this problem is fixed.

Any solution ?

[2017-05-25 04:39] sepoto opened #64 "Virtualbox and crouton with an HP Chromebook 13"
I found  the documentation here:
https://github.com/dnschneid/crouton/wiki/Build-kernel-headers-and-install-Virtualbox-(x86)

So it was not clear to me yet if all the terminal commands specified are to be entered in the xfce environment or if some of them are to be entered in chronos shell.

 Also I did comment out the -dirty are of the script setlocalversion in ~/kernel/scripts

[2017-05-25 19:53] sepoto opened #65 "HP Chromebook 13"
After following https://github.com/dnschneid/crouton/wiki/Build-chrome-os-kernel-and-kernel-modules I found that VirtualBox still does not start a virtual machine. It says that the virtualbox kernel driver is not installed. Thank you. This is for an HP Chromebook 13 Intel m7

[2017-05-30 11:56] Jimster121 commented on #45
Is this project abandoned?

[2017-05-30 13:52] #48 closed

[2017-05-30 13:57] brianhhu commented on #48
I ended up following the instructions [here](https://github.com/dnschneid/crouton/wiki/Build-kernel-headers-and-install-Virtualbox-(x86)) and [here](https://github.com/dnschneid/crouton/wiki/Enable-kernel-VT_x-for-Virtualbox) in order to get PPTP working on my chromebook. The annoying thing was that with each ChromeOS update, I would have to repeat the process. My academic institution recently swi

[2017-05-30 15:01] sclaughl commented on #45
No, but this issue is pretty well dead. The kernel-level changes in Chrome OS are too frequent to have VirtualBox working reliably in crouton. Personally I am dual-booting GalliumOS. Most of the time I’m in Chrome OS with crouton, but when I require VirtualBox, I boot up Gallium. I suppose if I needed VirtualBox daily I would just use GalliumOS all the time, but I love the lightweight nature of Ch

[2017-05-30 16:35] Jimster121 commented on #45
@sclaughl Ok, thank you for this information.

[2017-05-31 18:42] divx118 commented on #45
@Jimster121 yes @sclaughl is right. Using dual boot with galliumos is the best way now for virtualbox.

[2017-06-01 12:48] Jimster121 commented on #45
ok thank you, I'll try gallium os

[2017-06-24 16:45] MatthiasLiszt opened #66 "change-kernel-flags reports the following errors"
sudo sh ~/Downloads/change-kernel-flags
[sudo] password for mahagugu:
/home/mahagugu/Downloads/change-kernel-flags: 1: /home/mahagugu/Downloads/change-kernel-flags: rootdev: not found
/home/mahagugu/Downloads/change-kernel-flags: 1: /home/mahagugu/Downloads/change-kernel-flags: cgpt: not found
/tmp/change-kernel-flags.sgq.
/home/mahagugu/Downloads/change-kernel-flags: 246: /home/mahagugu/Downloads

[2017-06-24 20:21] divx118 commented on #66
@MatthiasLiszt Did you execute it in the crosh shell? The script is not meant to be executed inside a chroot.

[2017-06-25 13:48] MatthiasLiszt commented on #66
Sorry , but I exactly did that. I run it again just now and it told me the following.
(suppose that is what it should do )

/tmp/change-kernel-flags.sXK.2
Saving Kernel A config to /tmp/change-kernel-flags.sXK.2
(Kernels have not been resigned.)
"lsm.module_locking=0"  is already added to the kernel cmdline.
"disablevmx=off"        is already added to the kernel cmdline.

"lsm.module_locking=0 dis

[2017-06-25 19:24] divx118 commented on #66
@MatthiasLiszt Yes, that is correct. You should be able to insmod external modules now. Closing this issue as it seems resolved. The error message above in your first post is from running it inside a chroot, because looking at the path `/home/mahagugu/Downloads` and not what it should have been `/home/chronos/user/Downloads`.

[2017-06-25 19:24] #66 closed

[2017-07-19 23:58] natethegreatsu opened #67 "Your kernel version 3.18.0-14593-g9c23f3f1b8d6 with architecture amd64 is not supported"
Hey im trying to run
$  sudo sh setup-headers.sh
when i do iget
sudo sh setup-headers.sh
[sudo] password for blackice:
# This script will add the repo to your sources, download
and install the kernel headers appropriate to your
kernel version and architecture.
Reading package lists... Done
Building dependency tree
Reading state information... Done
apt-transport-https is already the newest version

[2017-07-20 17:24] divx118 commented on #67
duplicate https://github.com/divx118/crouton-packages/issues/45

[2017-07-20 17:24] #67 closed

[2017-07-20 19:46] natethegreatsu commented on #67
Thank you I will try gallium

[2017-07-21 21:33] divx118 commented on #67
@natethegreatsu Yeah, best option. Galiumos is in principle xubuntu, but with some kernel patches specific to chromeos hardware. It works very nice.

[2017-07-23 01:02] natethegreatsu commented on #45
Hey guys would you mind explaining a bit on how to run virtual box in gallium OS? Do you run a chariot inside of gallium and then do it the normal way? Or do you download virtual box directly while inside of gallium? I pretty much get the legacy boot part just not how to download virtual box any comments would be greatly appreciated.

[2017-07-23 01:03] natethegreatsu commented on #45
Also I like the concept of github. What can I do or learn to really contribute on this platform? I think the concept is pretty dope.

[2017-07-23 11:28] Jimster121 commented on #45
@natethegreatsu Installing Virtualbox on Gallium OS is super easy. Open up Synaptic and search for "Virtualbox". Once you find it, double-click it and it will select all the required packages. Click "Apply" and it will do the job. Works well on Asus c300 Chromebook with RW_Legacy Bios. Good Luck!

[2017-07-23 15:55] natethegreatsu commented on #45
Thank you so much for the tips. You guys are the best.

[2017-07-25 21:01] natethegreatsu commented on #45
@Jimster121 @divx118 Hey yal I just wanted to update yal and let yal know that it totally worked. I now have gallium and virtualbox works fine. I have two new issues im working through now though. I messed around and delete chromeos so now when I press control L on start up it crashes and secondly the The Yosemite MAC OS file I have isn't booting in virtualbox. Thank you guys for your help. Also w

[2017-07-26 07:53] Jimster121 commented on #45
@natethegreatsu I don't know how to help you with the Chrome OS problem, I don't even use it because it eats up the limited storage space my chromebook has. As for the second problem, what error does it show when you boot up the virtual image?

[2017-07-27 01:52] natethegreatsu commented on #45
@Jimster121 it gets stuck at the hackintosh loading screen
![image](https://user-images.githubusercontent.com/27568088/28650886-45658850-7244-11e7-99b9-c7e4c57f896b.png)

[2017-07-27 13:27] Jimster121 commented on #45
Try to boot another OS (ex. Windows XP) and see if it is booting. I'm pretty sure that this has to do with the virtual machine and nothing with the host OS. Try searching for it in forum and check for potential fixes.

[2017-07-31 19:36] natethegreatsu commented on #45
@Jimster121 It tried running a windows iso but it gets hung at the booting screen. Im about to search online for a solution

[2017-08-01 06:47] Jimster121 commented on #45
Ok, Good Luck!

[2017-09-10 06:00] miltonlaufer opened #68 "Kernel 3.14.0 is not being found"
Hi! Thank you so much for this!

Unfortunately, I can't install the kernel. This is my log

`# This script will add the repo to your sources, download
and install the kernel headers appropriate to your
kernel version and architecture.
Reading package lists...
Building dependency tree...
Reading state information...
apt-transport-https is already the newest version (1.2.24).
0 upgraded, 0 newly ins

[2017-11-25 22:01] libjared opened #69 "Change-kernel-flags trashes ChromeOS, resulting in a boot loop"
**Note:** My Chromebook ID is CAVE.

I use VirtualBox and CIFS modules, so I disable module locking using change-kernel-flags. Up until now, that script was working fine, and every time my device got an update on beta channel, I needed to re-run it. But a recent update caused the script to instead **cripple** the Chromebook. Even without any crouton environment installed, and from a fresh install

[2017-11-25 22:36] divx118 commented on #69
@libjared Thanks for reporting, I just tried to reproduce on my acer chromebook for work LARS on dev channel. Version 64.0.3270.0 (Official Build) dev (64-bit)
[code]
I however followed the new updated https://github.com/divx118/crouton-packages/blob/master/README.md since wget is gone and executing a script with sh will not be allowed anymore.
For me it still worked with no problems. Can you plea

[2017-11-25 22:59] libjared commented on #69
I'm on stable right now, virtualization and module loading are OK. I will post again when beta channel is installed. In the meantime:

## Cave, Stable Channel

- **Platform:** 9901.77.0 (Official Build) stable-channel cave
- **Firmware:** Google_Cave.7820.329.0
- **Build Date:** Monday, November 13, 2017

[code]
[code]
[code]

[2017-11-26 01:35] libjared commented on #69
I was worried it was going to ask me to powerwash when moving to beta, I guess not.

## Cave, beta channel
[//]: # (Version 63.0.3239.50 Official Build beta 64-bit)
- **Platform:** 10032.39.0 (Official Build) beta-channel cave
- **Firmware:** _same as above_
- **Build Date:** Wednesday, November 15, 2017

[code]
[code]
[code]

[2017-11-26 08:44] divx118 commented on #69
@libjared from stable to beta to dev there will be no powerwash only when going back dev to beta to stable there is a powerwash needed.

[2017-11-26 09:07] divx118 commented on #69
@libjared Something is indeed wrong, I need to investigate further, but I had to put the backup kernel that the script creates back from a linux distro to make my chromeos again bootable. Yesterday it restarted fine after running the script, but I must admit I didn't check if it booted the right kernel. Chromeos is smart enough to boot the second one when the first one fails.
I did however get a b

[2017-11-26 09:56] divx118 commented on #69
Ok, I think I narrowed it down. When running the script it adds 2 flags `lsm.module_locking=0 disablevmx=off` on reboot it goes fine for me, however when I close the lid chromeos will go to standby and my display stays black after opening the lid or on reboot. Only way back is to dd the backup kernel from a linux distro.
Now I tried with `sudo change-kernel-flags -f "lsm.module_locking=0"` so it o

[2017-11-26 17:08] hypevhs commented on #69
## Cave, developer channel
- **Platform:** 10134.0.0 (Official Build) dev-channel cave
- **Firmware:** same as above
- **Build Date:** Thursday, November 16, 2017
[code]
[code]
[code]

Will now attempt to add the `lsm.module_locking` argument only.

[2017-11-26 17:53] hypevhs commented on #69
It boots fine after running this command:

[code]
I might try to add the vmx argument soon, just to narrow it down further.

[2017-11-30 18:13] hypevhs commented on #69
Just in case you needed additional proof, I ran `sudo change-kernel-flags -f "disablevmx=off"`, rebooted, and immediately got stuck in the boot loop again. Great work isolating the issue!

If there is a way to load arbitrary kernel versions, `git bisect` seems like the best way to proceed.

[2017-11-30 18:37] divx118 commented on #69
@libjared Yeah, looked at the latest kernel commits, but couldn't find anything that popped out at first sight.
Maybe @drinkcat has an idea why enabling vmx is causing a reboot/crash at the moment.

[2017-12-01 10:17] divx118 commented on #69
I found this [crbug](https://bugs.chromium.org/p/chromium/issues/detail?id=789027&q=disablevmx&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Component%20Status%20Owner%20Summary%20OS%20Modified)
It seems the same issue, since I noticed that they [backported kaiser also to 3.18](https://chromium.googlesource.com/chromiumos/third_party/kernel/+log/chromeos-3.18)

[2017-12-26 15:28] hypevhs commented on #69
The bug seems to have been fixed and merged into 4.14. Now I have to wait until they cherry pick it onto 3.18, and then it makes it into a dev-channel update.

[2018-01-22 16:50] david-expresscorp commented on #45
@natethegreatsu @divx118 So I have been trying to get crouton and virtualbox to work together for the last few days to no avail and luckily came across this post. You people understand my pain! Can we confirm that dual-booting will solve this issue? Gallium OS seems like the way to go but I am a bit of a newbie with this so if you guys have any step by step guides to reference the install, it woul

[2018-01-22 17:14] sclaughl commented on #45
Dual booting is definitely the way to go, for times when you need vbox.

The easiest way is to install from the ChromeOS command line using chrx.

https://wiki.galliumos.org/Installing/Samus

--Stuart

On Jan 22, 2018 10:50 AM, "david-expresscorp" <notifications@github.com>
wrote:

[2018-01-22 17:43] david-expresscorp commented on #45
@sclaughl thanks for the quick reply! Will have to give this a try on my Acer R11 later on.

[2018-01-22 18:14] natethegreatsu commented on #45
Hey my situation was a little different. Running crouton didn’t work for
me. I ended up wiping my chrome book and running only Gallium. At that
point I figured out how to force Virtual Box to work. Unfortunately my
Chromebook didn’t have enough ram and storage to adequately run MacOS and
I.T ran super slow which made app development very difficult. I will add
the links to the videos I used o. YouT

[2018-01-22 20:07] ghost commented on #45
@david-expresscorp According to this https://wiki.galliumos.org/Hardware_Compatibility you may experience sound problems. It seems it will be fixed in the future since the Acer R11 it's a quite popular device.

[2018-02-22 02:39] hypevhs commented on #69
Dev channel recently updated from

    3.18.0-16503-ge33b03ba1f58-dirty
to

    3.18.0-16977-gc20001a59640
It's a huge update and mentions "vmx" in git show. I'd love to test it (and the kernel param that disables kaiser) but if it doesn't fix anything, and I get hit with the bootloop, I'd have to powerwash yet again. How do you recover from the bootloop without powerwashing local data?

[2018-02-22 18:28] divx118 commented on #69
@libjared Well you can, but you will need to boot a linux distro on your chromebook and dd the backup kernel back manually. I see if I have some time tomorrow or on in the weekend to write a short step by step guide

[2018-03-17 04:21] ghost opened #70 "Kernel not supported."
Kernel 3.18.1 kernel with amd64 arch doesn't install.

[2018-03-17 19:27] divx118 commented on #70
@idSoftwareWolf

See https://github.com/divx118/crouton-packages/blob/master/README.md

[2018-03-17 19:27] #70 closed, assigned to nobody

[2018-03-27 17:26] divx118 commented on #69
I tried it with
[code]
Still getting the bootloop with disablevmx=off

[2018-06-20 20:36] rmartin16 opened #71 "Kernel Branches and Git Version"
After many hours, I think I figured out why I couldn't get the correct kernel headers built to install virtualbox.

As documented somewhere, chromeos now uses git version as part of the kernel name. As long as I searched the kernel branches, I couldn't find a match for my uname -r.

As much as I searched through the kernel branches, my uname -r was something like 3.18.0-17554-g9194949d4df2, while

[2018-06-21 19:21] divx118 commented on #71
@rmartin16 thanks for the info, maybe someone can use it. I didn't look at building the kernel headers for a long time. It isn't something as easy as doing a git checkout to find the right git hash for your kernel. Also you need to do this process almost every time chromeos updates, because there is almost always a new kernel release. So I just use galliumos next to chromeos and crouton. I just re

[2018-06-22 05:21] rmartin16 commented on #71
Gotcha. I'll drop a quick line in the wiki and check out galliumos. Thanks for the info.

[2018-06-22 05:21] #71 closed, assigned to nobody

[2018-07-13 03:52] rawteq commented on #47
Samsung Chromebook Pro (Caroline) also running 3.18.0 not supported. Any luck on this ?

[2019-01-18 21:33] CarlFink opened #72 "VirtualBox under Crouton ... kernel version not there"
Hi. Trying to follow the instructions at https://github.com/dnschneid/crouton/wiki/Build-kernel-headers-and-install-Virtualbox-%28x86%29#installing-kernel-headersimage. Cloned the kernel repository from Github, ran the commands to cycle back through versions to find the exact one in my particular Chromebook's version of ChromeOS. I have a Dell Inspiron 11i 2in1, running ChromeOS 71.0.3578.127 (Off

[2019-01-19 07:45] divx118 commented on #72
@CarlFink yeah sorry not much I can do about it. This is why I stopped supporting it. Best way to run virtual box is to do it with legacy boot. See https://github.com/divx118/crouton-packages/issues/45#issuecomment-281434222

[2019-01-19 16:35] CarlFink commented on #72
Thanks, @divx118.  Unless you feel like doing it, I'll update the wiki linked above to say that this method is no longer supported and not recommended by its author any more, and link to the discussion thread you reference.

[2019-01-19 19:54] divx118 commented on #72
@CarlFink Great, thanks for doing that.

[2019-08-25 15:31] sparrow-labz commented on #45
I was able to run a parrot os vm with qemu and kvm on a pixelbook. I used the change kernel flags script from crouton repo, then installed qemu and kvm packages normally for my debian 9 chroot. Virt manager doesn't work, but I can make a hard drive image with CLI and boot up a vm with CLI and it all works, albeit it is a bit slow even with kvm. Probably cause even a pixelbook has low resources.